<!-- <div *ngIf="isHeaderShow"> -->
  <div  id="sideNavigation" class="sidenav">
    <span href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</span>
    <div class="date-time">
      <div class="date">Date<span class="mlr-5">:</span><span>12-10-2018</span></div>
      <div class="time">Time<span class="mlr-5">:</span><span>11:10:18</span></div>
    </div>
    <div class="checkboxs">
        <label class="conta">Contact
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <label class="conta">Client
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
    </div>
    <div class="input-group left-menu-search">
      <input type="text" class="form-control" placeholder="Search">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
    <!-- ==================Default Menu======================= -->
    <a [routerLink]="['/dashboard']" class="dashboard-title">Dashboard</a>
    <!-- <a href="#"><i class="fas fa-building pull-left"></i> Company</a>
    <a href="#"><i class="fas fa-database"></i> Depot</a>
    <a href="#"><i class="fas fa-car"></i> Vehicles</a>
    <a href="#"><i class="fas fa-user-astronaut"></i> Drivers</a>
    <a href="#"><i class="fas fa-users"></i> Groups</a> -->

    <!-- Menu 1 -->
    <a data-toggle="collapse" data-target="#favourites" class="rotate"><i class="fas fa-heart"></i> Favourites <i class="fa fa-chevron-left pull-right"></i></a>
    <div id="favourites" class="collapse left-menu-items">
      <a [routerLink]="['/contacts']" class="pl-50">Contacts</a>
      <a [routerLink]="['/clients']" class="pl-50">Clients</a>
      <a [routerLink]="['/favList']" class="pl-50">Lists</a>
      <!-- <a data-toggle="collapse" data-target="#level1" class="rotate"><i class="fas fa-plus-circle"></i> Level 1 <i class="fa fa-chevron-left pull-right"></i></a>
      <div id="level1" class="collapse text-center">
        <a href="#">Level 2</a>
        <a href="#">Level 2</a>
        <a href="#">Level 2</a>
        <a href="#">Level 2</a>
      </div> -->
    </div>
    <!-- Menu 2 -->
    <a data-toggle="collapse" data-target="#contacts" class="rotate"><i class="far fa-address-book"></i> Contacts <i class="fa fa-chevron-left pull-right"></i></a>
    <div id="contacts" class="collapse left-menu-items">
      <a [routerLink]="['/contacts']" class="pl-50">View All</a>
      <a href="#" data-toggle="modal" data-target="#headeraddContact" class="pl-50">Add</a>
    </div>
    <!-- Menu 3 -->
    <a data-toggle="collapse" data-target="#clients" class="rotate"><i class="fas fa-user-tie"></i> Clients <i class="fa fa-chevron-left pull-right"></i></a>
    <div id="clients" class="collapse left-menu-items">
      <a [routerLink]="['/clients']" class="pl-50">View All</a>
      <a href="#" data-toggle="modal" data-target="#headeraddcompany" class="pl-50">Add</a>
    </div>
    <!-- Menu 4 -->
    <a data-toggle="collapse" data-target="#calls" class="rotate"><i class="fas fa-phone-square"></i> Calls <i class="fa fa-chevron-left pull-right"></i></a>
    <div id="calls" class="collapse left-menu-items">
      <a [routerLink]="['/calls']" class="pl-50">View All</a>
      <a href="#" data-toggle="modal" data-target="#addcalls" class="pl-50">Add</a>
      <!-- <a href="#" class="pl-50">Search</a> -->
    </div>
    <!-- Menu 5 -->
    <a data-toggle="collapse" data-target="#lists" class="rotate"><i class="fas fa-clipboard-list"></i> Lists <i class="fa fa-chevron-left pull-right"></i></a>
    <div id="lists" class="collapse left-menu-items">
      <a [routerLink]="['/lists']" class="pl-50">View All</a>
      <!-- <a href="#" class="pl-50">Add</a>
      <a href="#" class="pl-50">Search</a> -->
    </div>
    <!-- Menu 6 -->
    <!-- <a data-toggle="collapse" data-target="#share" class="rotate"><i class="fas fa-share-alt"></i> Share <i class="fa fa-chevron-left pull-right"></i></a>
    <div id="share" class="collapse left-menu-items">
      <a href="#" class="pl-50">View All</a>
      <a href="#" class="pl-50">Add</a>
      <a href="#" class="pl-50">Search</a>
    </div> -->

    <div class="checkboxs">
      <label class="conta">Collapse
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <label class="conta">Expande
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>
  <!-- =================Admin menu================== -->
    <!-- <a class="administration-title">Administration</a> -->
  <!-- Menu 1 -->
    <!-- <a data-toggle="collapse" data-target="#manageuser" class="rotate"><i class="fas fa-user-cog"></i> Manage User <i class="fa fa-chevron-left pull-right"></i></a>
    <div id="manageuser" class="collapse left-menu-items">
      <a href="#" class="pl-50">Menu item 1</a>
      <a href="#" class="pl-50">Menu item 2</a>
    </div> -->
  <!-- Menu 2 -->
    <!-- <a data-toggle="collapse" data-target="#manageroles" class="rotate"><i class="fas fa-cogs"></i> Manage Roles <i class="fa fa-chevron-left pull-right"></i></a>
    <div id="manageroles" class="collapse left-menu-items">
      <a href="#" class="pl-50">Menu item 1</a>
      <a href="#" class="pl-50">Menu item 2</a>
    </div> -->
  </div>
  <nav class="topnav navbar">
    <a href="#" onclick="openNav()">
      <svg width="30" height="30" id="icoOpen">
          <path d="M0,5 30,5" stroke="#f1f1f1" stroke-width="5"/>
          <path d="M0,14 30,14" stroke="#f1f1f1" stroke-width="5"/>
          <path d="M0,23 30,23" stroke="#f1f1f1" stroke-width="5"/>
      </svg>
    </a>

    <ul class="nav navbar-nav" id="nav-menu">
      <li><a class="navbar-brand nav-logo pt-0" href="index.html"><img src="assets/img/logo.png" class="logoimg"></a></li>   
      <li><a class="navbar-brand nav-logo-text" href="index.html">Selenium CRM</a></li>
    </ul>
    <div class="header-right-info hidden-xs hidden-sm">
      <ul class="nav navbar-nav mai-top-nav header-right-menu navbar-right">
        <li class="nav-item dropdown">
          <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fas fa-plus" aria-hidden="true"></i></a>
          <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn addnew">
              <li><a href="#"><span class="edu-icon edu-home-admin author-log-ic"></span>New Contact</a></li>
              <li><a href="#"><span class="edu-icon edu-user-rounded author-log-ic"></span>New Client</a></li>
              <li><a href="#"><span class="edu-icon edu-settings author-log-ic"></span>New Call</a></li>
              <li><a href="login.html"><span class="edu-icon edu-locked author-log-ic"></span>New List</a></li>
              <li><a href="login.html"><span class="edu-icon edu-locked author-log-ic"></span>New Link</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fas fa-envelope" aria-hidden="true"></i><span class="indicator-ms"></span></a>
          <div role="menu" class="author-message-top dropdown-menu animated zoomIn">
            <div class="message-single-top">
              <h1>Message</h1>
            </div>
            <ul class="message-menu">
              <li>
                <a href="#">
                  <div class="message-img">
                      <img src="assets/img/contact/1.jpg" alt="">
                  </div>
                  <div class="message-content">
                      <span class="message-date">16 Sept</span>
                      <h2>Advanda Cro</h2>
                      <p>Please done this project as soon possible.</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                    <div class="message-img">
                        <img src="assets/img/contact/4.jpg" alt="">
                    </div>
                    <div class="message-content">
                        <span class="message-date">16 Sept</span>
                        <h2>Sulaiman din</h2>
                        <p>Please done this project as soon possible.</p>
                    </div>
                </a>
              </li>
              <li>
                  <a href="#">
                      <div class="message-img">
                          <img src="assets/img/contact/3.jpg" alt="">
                      </div>
                      <div class="message-content">
                          <span class="message-date">16 Sept</span>
                          <h2>Victor Jara</h2>
                          <p>Please done this project as soon possible.</p>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <div class="message-img">
                          <img src="assets/img/contact/2.jpg" alt="">
                      </div>
                      <div class="message-content">
                          <span class="message-date">16 Sept</span>
                          <h2>Victor Jara</h2>
                          <p>Please done this project as soon possible.</p>
                      </div>
                  </a>
              </li>
            </ul>
            <div class="message-view">
                <a href="#">View All Messages</a>
            </div>
          </div>
        </li>
        <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fas fa-bell" aria-hidden="true"></i><span class="indicator-nt"></span></a>
          <div role="menu" class="notification-author dropdown-menu animated zoomIn">
              <div class="notification-single-top">
                  <h1>Notifications</h1>
              </div>
              <ul class="notification-menu">
                  <li>
                      <a href="#">
                          <div class="notification-icon">
                              <i class="educate-icon educate-checked edu-checked-pro admin-check-pro" aria-hidden="true"></i>
                          </div>
                          <div class="notification-content">
                              <span class="notification-date">16 Sept</span>
                              <h2>Advanda Cro</h2>
                              <p>Please done this project as soon possible.</p>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <div class="notification-icon">
                              <i class="fa fa-cloud edu-cloud-computing-down" aria-hidden="true"></i>
                          </div>
                          <div class="notification-content">
                              <span class="notification-date">16 Sept</span>
                              <h2>Sulaiman din</h2>
                              <p>Please done this project as soon possible.</p>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <div class="notification-icon">
                              <i class="fa fa-eraser edu-shield" aria-hidden="true"></i>
                          </div>
                          <div class="notification-content">
                              <span class="notification-date">16 Sept</span>
                              <h2>Victor Jara</h2>
                              <p>Please done this project as soon possible.</p>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <div class="notification-icon">
                              <i class="fa fa-line-chart edu-analytics-arrow" aria-hidden="true"></i>
                          </div>
                          <div class="notification-content">
                              <span class="notification-date">16 Sept</span>
                              <h2>Victor Jara</h2>
                              <p>Please done this project as soon possible.</p>
                          </div>
                      </a>
                  </li>
              </ul>
              <div class="notification-view">
                  <a href="#">View All Notification</a>
              </div>
          </div>
        </li>
        <li class="nav-item">
            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
              <img src="assets/img/product/pro4.jpg" alt="" />
              <span class="admin-name">Anderson</span>
              <i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
            </a>
            <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
              <li><a href="#"><span class="edu-icon edu-home-admin author-log-ic"></span>My Account</a></li>
              <li><a href="#"><span class="edu-icon edu-user-rounded author-log-ic"></span>My Profile</a></li>
              <li><a href="#"><span class="edu-icon edu-settings author-log-ic"></span>Settings</a></li>
              <li><a href="login.html"><span class="edu-icon edu-locked author-log-ic"></span>Log Out</a></li>
            </ul>
        </li>
        <li class="nav-item nav-setting-open"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fas fa-list-alt"></i></a>

          <div role="menu" class="admintab-wrap menu-setting-wrap menu-setting-wrap-bg dropdown-menu animated zoomIn">
            <ul class="nav nav-tabs custon-set-tab">
              <li class="active"><a data-toggle="tab" href="#Notes">Notes</a></li>
              <li><a data-toggle="tab" href="#Projects">Projects</a></li>
              <li><a data-toggle="tab" href="#Settings">Settings</a></li>
            </ul>

            <div class="tab-content custom-bdr-nt">
              <div id="Notes" class="tab-pane fade in active">
                <div class="notes-area-wrap">
                  <div class="note-heading-indicate">
                    <h2><i class="fa fa-comments-o"></i> Latest Notes</h2>
                    <p>You have 10 new message.</p>
                  </div>
                  <div class="notes-list-area notes-menu-scrollbar">
                    <ul class="notes-menu-list">
                      <li>
                        <a href="#">
                          <div class="notes-list-flow">
                            <div class="notes-img">
                                <img src="assets/img/contact/4.jpg" alt="" />
                            </div>
                            <div class="notes-content">
                                <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                <span>Yesterday 2:45 pm</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="notes-list-flow">
                            <div class="notes-img">
                                <img src="assets/img/contact/1.jpg" alt="" />
                            </div>
                            <div class="notes-content">
                                <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                <span>Yesterday 2:45 pm</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="notes-list-flow">
                            <div class="notes-img">
                              <img src="assets/img/contact/2.jpg" alt="" />
                            </div>
                            <div class="notes-content">
                              <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                              <span>Yesterday 2:45 pm</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="notes-list-flow">
                            <div class="notes-img">
                              <img src="assets/img/contact/3.jpg" alt="" />
                            </div>
                            <div class="notes-content">
                              <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                              <span>Yesterday 2:45 pm</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="notes-list-flow">
                            <div class="notes-img">
                              <img src="assets/img/contact/4.jpg" alt="" />
                            </div>
                            <div class="notes-content">
                              <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                              <span>Yesterday 2:45 pm</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="notes-list-flow">
                            <div class="notes-img">
                              <img src="assets/img/contact/1.jpg" alt="" />
                            </div>
                            <div class="notes-content">
                              <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                              <span>Yesterday 2:45 pm</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="notes-list-flow">
                            <div class="notes-img">
                              <img src="assets/img/contact/2.jpg" alt="" />
                            </div>
                            <div class="notes-content">
                              <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                              <span>Yesterday 2:45 pm</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="notes-list-flow">
                            <div class="notes-img">
                              <img src="assets/img/contact/1.jpg" alt="" />
                            </div>
                            <div class="notes-content">
                              <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                              <span>Yesterday 2:45 pm</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="notes-list-flow">
                            <div class="notes-img">
                              <img src="assets/img/contact/2.jpg" alt="" />
                            </div>
                            <div class="notes-content">
                              <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                              <span>Yesterday 2:45 pm</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="notes-list-flow">
                            <div class="notes-img">
                              <img src="assets/img/contact/3.jpg" alt="" />
                            </div>
                            <div class="notes-content">
                              <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                              <span>Yesterday 2:45 pm</span>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div id="Projects" class="tab-pane fade">
                <div class="projects-settings-wrap">
                  <div class="note-heading-indicate">
                    <h2><i class="fa fa-cube"></i> Latest projects</h2>
                    <p> You have 20 projects. 5 not completed.</p>
                  </div>
                  <div class="project-st-list-area project-st-menu-scrollbar">
                    <ul class="projects-st-menu-list">
                      <li>
                        <a href="#">
                            <div class="project-list-flow">
                                <div class="projects-st-heading">
                                    <h2>Web Development</h2>
                                    <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                    <span class="project-st-time">1 hours ago</span>
                                </div>
                                <div class="projects-st-content">
                                    <p>Completion with: 28%</p>
                                    <div class="progress progress-mini">
                                        <div style="width: 28%;" class="progress-bar progress-bar-danger hd-tp-1"></div>
                                    </div>
                                    <p>Project end: 4:00 pm - 12.06.2014</p>
                                </div>
                            </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                            <div class="project-list-flow">
                                <div class="projects-st-heading">
                                    <h2>Software Development</h2>
                                    <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                    <span class="project-st-time">2 hours ago</span>
                                </div>
                                <div class="projects-st-content project-rating-cl">
                                    <p>Completion with: 68%</p>
                                    <div class="progress progress-mini">
                                        <div style="width: 68%;" class="progress-bar hd-tp-2"></div>
                                    </div>
                                    <p>Project end: 4:00 pm - 12.06.2014</p>
                                </div>
                            </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                            <div class="project-list-flow">
                                <div class="projects-st-heading">
                                    <h2>Graphic Design</h2>
                                    <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                    <span class="project-st-time">3 hours ago</span>
                                </div>
                                <div class="projects-st-content">
                                    <p>Completion with: 78%</p>
                                    <div class="progress progress-mini">
                                        <div style="width: 78%;" class="progress-bar hd-tp-3"></div>
                                    </div>
                                    <p>Project end: 4:00 pm - 12.06.2014</p>
                                </div>
                            </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                            <div class="project-list-flow">
                                <div class="projects-st-heading">
                                    <h2>Web Design</h2>
                                    <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                    <span class="project-st-time">4 hours ago</span>
                                </div>
                                <div class="projects-st-content project-rating-cl2">
                                    <p>Completion with: 38%</p>
                                    <div class="progress progress-mini">
                                        <div style="width: 38%;" class="progress-bar progress-bar-danger hd-tp-4"></div>
                                    </div>
                                    <p>Project end: 4:00 pm - 12.06.2014</p>
                                </div>
                            </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                            <div class="project-list-flow">
                                <div class="projects-st-heading">
                                    <h2>Business Card</h2>
                                    <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                    <span class="project-st-time">5 hours ago</span>
                                </div>
                                <div class="projects-st-content">
                                    <p>Completion with: 28%</p>
                                    <div class="progress progress-mini">
                                        <div style="width: 28%;" class="progress-bar progress-bar-danger hd-tp-5"></div>
                                    </div>
                                    <p>Project end: 4:00 pm - 12.06.2014</p>
                                </div>
                            </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                            <div class="project-list-flow">
                                <div class="projects-st-heading">
                                    <h2>Ecommerce Business</h2>
                                    <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                    <span class="project-st-time">6 hours ago</span>
                                </div>
                                <div class="projects-st-content project-rating-cl">
                                    <p>Completion with: 68%</p>
                                    <div class="progress progress-mini">
                                        <div style="width: 68%;" class="progress-bar hd-tp-6"></div>
                                    </div>
                                    <p>Project end: 4:00 pm - 12.06.2014</p>
                                </div>
                            </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                            <div class="project-list-flow">
                                <div class="projects-st-heading">
                                    <h2>Woocommerce Plugin</h2>
                                    <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                    <span class="project-st-time">7 hours ago</span>
                                </div>
                                <div class="projects-st-content">
                                    <p>Completion with: 78%</p>
                                    <div class="progress progress-mini">
                                        <div style="width: 78%;" class="progress-bar"></div>
                                    </div>
                                    <p>Project end: 4:00 pm - 12.06.2014</p>
                                </div>
                            </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                            <div class="project-list-flow">
                                <div class="projects-st-heading">
                                    <h2>Wordpress Theme</h2>
                                    <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                    <span class="project-st-time">9 hours ago</span>
                                </div>
                                <div class="projects-st-content project-rating-cl2">
                                    <p>Completion with: 38%</p>
                                    <div class="progress progress-mini">
                                        <div style="width: 38%;" class="progress-bar progress-bar-danger"></div>
                                    </div>
                                    <p>Project end: 4:00 pm - 12.06.2014</p>
                                </div>
                            </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div id="Settings" class="tab-pane fade">
                <div class="setting-panel-area">
                  <div class="note-heading-indicate">
                    <h2><i class="fa fa-gears"></i> Settings Panel</h2>
                    <p> You have 20 Settings. 5 not completed.</p>
                  </div>
                  <ul class="setting-panel-list">
                    <li>
                      <div class="checkbox-setting-pro">
                        <div class="checkbox-title-pro">
                          <h2>Show notifications</h2>
                          <div class="ts-custom-check">
                              <div class="onoffswitch">
                                <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example">
                                <label class="onoffswitch-label" for="example">
                                  <span class="onoffswitch-inner"></span>
                                  <span class="onoffswitch-switch"></span>
                                </label>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox-setting-pro">
                        <div class="checkbox-title-pro">
                          <h2>Disable Chat</h2>
                          <div class="ts-custom-check">
                            <div class="onoffswitch">
                              <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example3">
                              <label class="onoffswitch-label" for="example3">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox-setting-pro">
                        <div class="checkbox-title-pro">
                          <h2>Enable history</h2>
                          <div class="ts-custom-check">
                            <div class="onoffswitch">
                              <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example4">
                              <label class="onoffswitch-label" for="example4">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox-setting-pro">
                        <div class="checkbox-title-pro">
                          <h2>Show charts</h2>
                          <div class="ts-custom-check">
                            <div class="onoffswitch">
                              <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example7">
                              <label class="onoffswitch-label" for="example7">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox-setting-pro">
                        <div class="checkbox-title-pro">
                          <h2>Update everyday</h2>
                          <div class="ts-custom-check">
                            <div class="onoffswitch">
                              <input type="checkbox" name="collapsemenu" checked="" class="onoffswitch-checkbox" id="example2">
                              <label class="onoffswitch-label" for="example2">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox-setting-pro">
                        <div class="checkbox-title-pro">
                          <h2>Global search</h2>
                          <div class="ts-custom-check">
                            <div class="onoffswitch">
                              <input type="checkbox" name="collapsemenu" checked="" class="onoffswitch-checkbox" id="example6">
                              <label class="onoffswitch-label" for="example6">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox-setting-pro">
                        <div class="checkbox-title-pro">
                          <h2>Offline users</h2>
                          <div class="ts-custom-check">
                            <div class="onoffswitch">
                              <input type="checkbox" name="collapsemenu" checked="" class="onoffswitch-checkbox" id="example5">
                              <label class="onoffswitch-label" for="example5">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
<!-- </div> -->


<!-- Add calls modal -->
<div class="modal fade" id="addcalls" tabindex="-1" role="dialog" aria-labelledby="contactmodalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="contactmodalTitle">Add Calls</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="contact-sparkle-line reso-mg-b-30">
                        <div class="contact-content">
                            <form>
                              <div class="form-group">
                                <label for="email">Subject</label>
                                <input type="text" class="form-control" id="email" aria-describedby="Salutation" placeholder="Subject">
                              </div>
                              <div class="form-group">
                                <label for="fname">Call Type</label>
                                <input type="text" class="form-control" id="fname" placeholder="Outbound/Inbound">
                              </div>
                              <div class="form-group">
                                <label for="lname">Call Purpose</label>
                                <input type="text" class="form-control" id="lname" placeholder="Call Purpose">
                              </div>
                              <div class="form-group">
                                <label for="cowner">Contact Owner</label>
                                <input type="text" class="form-control" id="cowner" placeholder="Contact Owner">
                              </div>
                              <div class="form-group">
                                <label for="jobitle">Call Duration</label>
                                <input type="text" class="form-control" id="jobTitle" placeholder="Job Title">
                              </div>
                              <div class="form-group">
                                <label for="jobitle">Description</label>
                                <input type="text" class="form-control" id="jobTitle" placeholder="Job Title">
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="record.html" type="button" class="btn btn-primary">Add Calls</a>
      </div>
    </div>
  </div>
</div>

<!-- Add contacts -->
<div class="modal fade" id="headeraddContact" tabindex="-1" role="dialog" aria-labelledby="contactmodalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="contactmodalTitle">Create Contact</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="contact-sparkle-line reso-mg-b-30">
                        <div class="contact-content">
                            <form>
                              <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" aria-describedby="Salutation" placeholder="example@mail.com">
                              </div>
                              <div class="form-group">
                                <label for="fname">First Name</label>
                                <input type="text" class="form-control" id="fname" placeholder="First Name">
                              </div>
                              <div class="form-group">
                                <label for="lname">Last Name</label>
                                <input type="text" class="form-control" id="lname" placeholder="Last Name">
                              </div>
                              <div class="form-group">
                                <label for="cowner">Contact Owner</label>
                                <input type="text" class="form-control" id="cowner" placeholder="Contact Owner">
                              </div>
                              <div class="form-group">
                                <label for="jobitle">Job Title</label>
                                <input type="text" class="form-control" id="jobTitle" placeholder="Job Title">
                              </div>
                              <div class="form-group">
                                <label for="compname">Company Name</label>
                                <input type="text" class="form-control" id="compname" placeholder="Company Name">
                              </div>
                              <div class="form-group">
                                <label for="compdomainname">Website Address</label>
                                <input type="text" class="form-control" id="compdomainname" placeholder="Company Domain Name">
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <a [routerLink]="['/contact_details']" data-dismiss="modal" type="button" class="btn btn-primary">Create Contact</a>
      </div>
    </div>
  </div>
</div>

<!-- Add company modal -->
<div class="modal fade" id="headeraddcompany" tabindex="-1" role="dialog" aria-labelledby="contactmodalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
          <h2 class="modal-title" id="contactmodalTitle">Add Companies</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="contact-sparkle-line reso-mg-b-30">
                          <div class="contact-content">
                            <form>
                              <div class="form-group">
                                  <label for="compdomainname">Company Domain Name</label>
                                  <input type="text" class="form-control" id="compdomainname" placeholder="Company Domain Name">
                              </div>
                              <div class="form-group">
                                  <label for="cname">Company Name</label>
                                  <input type="text" class="form-control" id="cowner" placeholder="Company Name">
                              </div>
                              <div class="form-group">
                                  <label for="compowner">Company Owner</label>
                                  <input type="text" class="form-control" id="compowner" placeholder="Company Owner">
                              </div>
                              <div class="form-group">
                                  <label for="country">Country</label>
                                  <input type="text" class="form-control" id="nacountryme" placeholder="Country">
                              </div>
                            </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
          <a type="button" class="btn btn-primary">Add Company</a>
      </div>
      </div>
  </div>
  </div>