<!-- <div class="footer-copyright-area" *ngIf="isFooterShow"> -->
<div class="footer-copyright-area">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12">
              <div class="footer-copy-right">
                  <p>Copyright © 2018. All rights reserved <a href="#"> Selenium</a></p>
              </div>
          </div>
      </div>
  </div>
</div>