<div id="main">
    <!-- Add all your websites page content here  -->
    <div class="traffic-analysis-area">
        <div class="breadcome-area mt-40">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcome-list">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="breadcome-heading">
                                        <!-- <form role="search" class="sr-input-func">
                                            <input type="text" placeholder="Search..." class="search-int form-control">
                                            <a href="#"><i class="fa fa-search"></i></a>
                                        </form> -->
                                        <h3 class="fw-500">Companies</h3>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ul class="breadcome-menu">
                                        <li class="dropdown action-cards">
                                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle add-comp-btn btn btn-success action-drop">Action <span class="angle-down-topmenu ml-10"><i class="fa fa-angle-down"></i></span></a>
                                            <div role="menu" class="dropdown-menu animated log-acivity-dropdown">
                                                <a href="#" class="dropdown-item">Edit Column</a>
                                                <a href="#" class="dropdown-item">Edit Properties</a>
                                                <a href="#" class="dropdown-item">Restore Customer</a>
                                            </div>
                                        </li>
                                        <li><a href="#" data-toggle="modal" data-target="#addcompany" class="add-comp-btn btn btn-success" class="add-comp-btn btn btn-success"><i class="fas fa-plus"></i> Add Companies</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
        <div class="container-fluid">
            <div class="row mt-40">
                <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                    <div class="hpanel responsive-mg-b-30">
                        <div class="panel-body">

                            <ul class="mailbox-list">
                                <li>
                                    <a data-toggle="collapse" href="#addfilter" role="button" aria-expanded="false" aria-controls="addfilter"><i class="fas fa-filter"></i> Add Filters</a>
                                    <div class="collapse" id="addfilter">
                                      <div class="card card-body">
                                        <hr>
                                        <form role="search" class="sr-input-func-filter">
                                            <input type="text" placeholder="Search..." class="search-int form-control">
                                        </form>
                                        <ul class="add-filter">
                                            <li class="ci"><b>Contact Information</b></li>
                                            <li>Annual revenue</li>
                                            <li>Associated company</li>
                                            <li>Became a customer</li>
                                            <li>Became a lead date</li>
                                            <li>City</li>
                                            <li>Close date</li>
                                            <li>Company name</li>
                                        </ul>
                                      </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1><span class="table-project-n">Companies</span></h1>
                            </div>
                        </div>
                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <table id="tableClients" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                    data-cookie-id-table="saveId" data-show-export="false" data-click-to-select="true" data-toolbar="#toolbar">
                                    <thead>
                                        <tr>
                                            <th data-field="state" data-checkbox="true"></th>
                                            <th data-field="cLogo" data-editable="true">Company Logo</th>
                                            <th data-field="cName" data-editable="true">Company Name</th>
                                            <th data-field="phone">Company Phone</th>
                                            <th data-field="pContact" data-editable="true">Primary Contact</th>
                                            <th data-field="mail" data-editable="true">Email</th>
                                            <th data-field="country" data-editable="true">Country</th>
                                            <th data-field="city" data-editable="true">City</th>
                                            <th data-field="CDName" data-editable="true">Company Domain Name</th>
                                            <th data-field="ranking">Ranking</th>
                                            <th data-field="action">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td>Logo</td>
                                            <td>CRM Company</td>
                                            <td>+88-01762067304</td>
                                            <td>demoweb.com</td>
                                            <td>crm@mail.com</td>
                                            <td>UK</td>
                                            <td>London</td>
                                            <td>XYZ</td>
                                            <td>4</td>
                                            <td class="datatable-ct action-btn">
                                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Logo</td>
                                            <td>ABC Company</td>
                                            <td>+88-01762067304</td>
                                            <td>demoweb.com</td>
                                            <td>crm@mail.com</td>
                                            <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                            </td> -->
                                            <td>UK</td>
                                            <td>London</td>
                                            <td>XYZ</td>
                                            <td>2</td>
                                            <td class="datatable-ct action-btn">
                                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Logo</td>
                                            <td>XYZ Company</td>
                                            <td>+88-01762067304</td>
                                            <td>demoweb.com</td>
                                            <td>crm@mail.com</td>
                                            <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                            </td> -->
                                            <td>UK</td>
                                            <td>London</td>
                                            <td>XYZ</td>
                                            <td>1</td>
                                            <td class="datatable-ct action-btn">
                                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Logo</td>
                                            <td>ABCD Company</td>
                                            <td>+88-01762067304</td>
                                            <td>demoweb.com</td>
                                            <td>crm@mail.com</td>
                                            <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                            </td> -->
                                            <td>UK</td>
                                            <td>London</td>
                                            <td>XYZ</td>
                                            <td>4</td>
                                            <td class="datatable-ct action-btn">
                                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Logo</td>
                                            <td>WXYZ Company</td>
                                            <td>+88-01762067304</td>
                                            <td>demoweb.com</td>
                                            <td>crm@mail.com</td>
                                            <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                            </td> -->
                                            <td>UK</td>
                                            <td>London</td>
                                            <td>XYZ</td>
                                            <td>2</td>
                                            <td class="datatable-ct action-btn">
                                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Logo</td>
                                            <td>PQR Company</td>
                                            <td>+88-01762067304</td>
                                            <td>demoweb.com</td>
                                            <td>crm@mail.com</td>
                                            <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                            </td> -->
                                            <td>UK</td>
                                            <td>London</td>
                                            <td>XYZ</td>
                                            <td>1</td>
                                            <td class="datatable-ct action-btn">
                                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Logo</td>
                                            <td>SEL Company</td>
                                            <td>+88-01762067304</td>
                                            <td>demoweb.com</td>
                                            <td>crm@mail.com</td>
                                            <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                            </td> -->
                                            <td>UK</td>
                                            <td>London</td>
                                            <td>XYZ</td>
                                            <td>4</td>
                                            <td class="datatable-ct action-btn">
                                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Logo</td>
                                            <td>SA Company</td>
                                            <td>+88-01762067304</td>
                                            <td>demoweb.com</td>
                                            <td>crm@mail.com</td>
                                            <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                            </td> -->
                                            <td>UK</td>
                                            <td>London</td>
                                            <td>XYZ</td>
                                            <td>5</td>
                                            <td class="datatable-ct action-btn">
                                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Logo</td>
                                            <td>PQ Company</td>
                                            <td>+88-01762067304</td>
                                            <td>demoweb.com</td>
                                            <td>crm@mail.com</td>
                                            <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                            </td> -->
                                            <td>UK</td>
                                            <td>London</td>
                                            <td>XYZ</td>
                                            <td>2</td>
                                            <td class="datatable-ct action-btn">
                                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Logo</td>
                                            <td>WS Company</td>
                                            <td>+88-01762067304</td>
                                            <td>demoweb.com</td>
                                            <td>crm@mail.com</td>
                                            <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                            </td> -->
                                            <td>UK</td>
                                            <td>London</td>
                                            <td>XYZ</td>
                                            <td>1</td>
                                            <td class="datatable-ct action-btn">
                                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Logo</td>
                                            <td>AD Company</td>
                                            <td>+88-01762067304</td>
                                            <td>demoweb.com</td>
                                            <td>crm@mail.com</td>
                                            <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                            </td> -->
                                            <td>UK</td>
                                            <td>London</td>
                                            <td>XYZ</td>
                                            <td>3</td>
                                            <td class="datatable-ct action-btn">
                                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Logo</td>
                                            <td>DDC Company</td>
                                            <td>+88-01762067304</td>
                                            <td>demoweb.com</td>
                                            <td>crm@mail.com</td>
                                            <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                            </td> -->
                                            <td>UK</td>
                                            <td>London</td>
                                            <td>XYZ</td>
                                            <td>4</td>
                                            <td class="datatable-ct action-btn">
                                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Logo</td>
                                            <td>VCS Company</td>
                                            <td>+88-01762067304</td>
                                            <td>demoweb.com</td>
                                            <td>crm@mail.com</td>
                                            <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                            </td> -->
                                            <td>UK</td>
                                            <td>London</td>
                                            <td>XYZ</td>
                                            <td>1</td>
                                            <td class="datatable-ct action-btn">
                                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Logo</td>
                                            <td>HGS Company</td>
                                            <td>+88-01762067304</td>
                                            <td>demoweb.com</td>
                                            <td>crm@mail.com</td>
                                            <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                            </td> -->
                                            <td>UK</td>
                                            <td>London</td>
                                            <td>XYZ</td>
                                            <td>2</td>
                                            <td class="datatable-ct action-btn">
                                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Logo</td>
                                            <td>CRM Company</td>
                                            <td>+88-01762067304</td>
                                            <td>demoweb.com</td>
                                            <td>crm@mail.com</td>
                                            <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                            </td> -->
                                            <td>UK</td>
                                            <td>London</td>
                                            <td>XYZ</td>
                                            <td>2</td>
                                            <td class="datatable-ct action-btn">
                                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Logo</td>
                                            <td>CRM Company</td>
                                            <td>+88-01762067304</td>
                                            <td>demoweb.com</td>
                                            <td>crm@mail.com</td>
                                            <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                            </td> -->
                                            <td>UK</td>
                                            <td>London</td>
                                            <td>XYZ</td>
                                            <td>2</td>
                                            <td class="datatable-ct action-btn">
                                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Logo</td>
                                            <td>CRM Company</td>
                                            <td>+88-01762067304</td>
                                            <td>demoweb.com</td>
                                            <td>crm@mail.com</td>
                                            <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                            </td> -->
                                            <td>UK</td>
                                            <td>London</td>
                                            <td>XYZ</td>
                                            <td>2</td>
                                            <td class="datatable-ct action-btn">
                                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Logo</td>
                                            <td>CRM Company</td>
                                            <td>+88-01762067304</td>
                                            <td>demoweb.com</td>
                                            <td>crm@mail.com</td>
                                            <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                            </td> -->
                                            <td>UK</td>
                                            <td>London</td>
                                            <td>XYZ</td>
                                            <td>2</td>
                                            <td class="datatable-ct action-btn">
                                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Logo</td>
                                            <td>CRM Company</td>
                                            <td>+88-01762067304</td>
                                            <td>demoweb.com</td>
                                            <td>crm@mail.com</td>
                                            <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                            </td> -->
                                            <td>UK</td>
                                            <td>London</td>
                                            <td>XYZ</td>
                                            <td>2</td>
                                            <td class="datatable-ct action-btn">
                                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Logo</td>
                                            <td>CRM Company</td>
                                            <td>+88-01762067304</td>
                                            <td>demoweb.com</td>
                                            <td>crm@mail.com</td>
                                            <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                            </td> -->
                                            <td>UK</td>
                                            <td>London</td>
                                            <td>XYZ</td>
                                            <td>2</td>
                                            <td class="datatable-ct action-btn">
                                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Logo</td>
                                            <td>CRM Company</td>
                                            <td>+88-01762067304</td>
                                            <td>demoweb.com</td>
                                            <td>crm@mail.com</td>
                                            <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                            </td> -->
                                            <td>UK</td>
                                            <td>London</td>
                                            <td>XYZ</td>
                                            <td>2</td>
                                            <td class="datatable-ct action-btn">
                                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- client Modal -->
<div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="clientmodalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="clientmodalTitle">Jhone Doe</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="contact-sparkle-line reso-mg-b-30">
                          <div class="contact-content">
                              <h4>About this company</h4>
                              <form>
                                <div class="form-group">
                                  <label for="name">Name</label>
                                  <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Name">
                                </div>
                                <div class="form-group">
                                  <label for="cdname">Company Domain Name</label>
                                  <input type="text" class="form-control" id="cdname" placeholder="Company Domain Name">
                                </div>
                                <div class="form-group">
                                  <label for="industry">Industry</label>
                                  <input type="text" class="form-control" id="industry" placeholder="Industry">
                                </div>
                                <div class="form-group">
                                  <label for="pno">Phone Number</label>
                                  <input type="text" class="form-control" id="pno" placeholder="Phone Number">
                                </div>
                                <div class="form-group">
                                  <label for="cowner">Company Owner</label>
                                  <input type="text" class="form-control" id="cowner" placeholder="Company Owner">
                                </div>
                                <div class="form-group">
                                  <label for="webaddress">Website Address</label>
                                  <input type="text" class="form-control" id="webaddress" placeholder="Website Address">
                                </div>
                                <div class="form-group">
                                  <label for="country">Country</label>
                                  <input type="text" class="form-control" id="country" placeholder="Country">
                                </div>
                                <div class="form-group">
                                  <label for="noemployee">Number Of Employees</label>
                                  <input type="text" class="form-control" id="noemployee" placeholder="Number Of Employees">
                                </div>
                                <div class="form-group">
                                    <label for="arevenue">Annual Revenue</label>
                                    <input type="text" class="form-control" id="arevenue" placeholder="Annual Revenue">
                                </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-primary">View Record</a>
        </div>
      </div>
    </div>
</div>

<!-- Add company modal -->
<div class="modal fade" id="addcompany" tabindex="-1" role="dialog" aria-labelledby="contactmodalTitle" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h2 class="modal-title" id="contactmodalTitle">Add Companies</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="contact-sparkle-line reso-mg-b-30">
                        <div class="contact-content">
                            <form>
                                <div class="form-group">
                                    <label for="compdomainname">Company Domain Name</label>
                                    <input type="text" class="form-control" id="compdomainname" placeholder="Company Domain Name">
                                </div>
                                <div class="form-group">
                                    <label for="cname">Company Name</label>
                                    <input type="text" class="form-control" id="cowner" placeholder="Company Name">
                                </div>
                                <div class="form-group">
                                    <label for="compowner">Company Owner</label>
                                    <input type="text" class="form-control" id="compowner" placeholder="Company Owner">
                                </div>
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <input type="text" class="form-control" id="nacountryme" placeholder="Country">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a type="button" class="btn btn-primary">Add Company</a>
    </div>
    </div>
</div>
</div>