<div id="main">
  <!-- Add all your websites page content here  -->
  <div class="traffic-analysis-area">
      <div class="breadcome-area mt-40">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="breadcome-list">
                          <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                  <div class="breadcome-heading">
                                      <!-- <form role="search" class="sr-input-func">
                                          <input type="text" placeholder="Search..." class="search-int form-control">
                                          <a href="#"><i class="fa fa-search"></i></a>
                                      </form> -->
                                      <h3 class="fw-500">Contacts</h3>
                                  </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                  <ul class="breadcome-menu">
                                      <li class="dropdown action-cards">
                                          <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle add-comp-btn btn btn-success action-drop">Action <span class="angle-down-topmenu ml-10"><i class="fa fa-angle-down"></i></span></a>
                                          <div role="menu" class="dropdown-menu animated log-acivity-dropdown">
                                              <a href="#" class="dropdown-item">Edit Column</a>
                                              <a href="#" class="dropdown-item">Edit Properties</a>
                                              <a href="#" class="dropdown-item">Restore Customer</a>
                                          </div>
                                      </li>
                                      <li><a href="#" data-toggle="modal" data-target="#createcontactmodal" class="add-comp-btn btn btn-success" class="add-comp-btn btn btn-success"><i class="fas fa-plus"></i> Create Contact</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>            
      <div class="container-fluid">
          <div class="row mt-40">
              <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                  <div class="hpanel responsive-mg-b-30">
                      <div class="panel-body">

                          <ul class="mailbox-list">
                              <li>
                                  <a data-toggle="collapse" href="#addfilter" role="button" aria-expanded="false" aria-controls="addfilter"><i class="fas fa-filter"></i> Add Filters</a>
                                  <div class="collapse" id="addfilter">
                                    <div class="card card-body">
                                      <hr>
                                      <form role="search" class="sr-input-func-filter">
                                          <input type="text" placeholder="Search..." class="search-int form-control">
                                      </form>
                                      <ul class="add-filter">
                                          <li class="ci"><b>Contact Information</b></li>
                                          <li>Annual revenue</li>
                                          <li>Associated company</li>
                                          <li>Became a customer</li>
                                          <li>Became a lead date</li>
                                          <li>City</li>
                                          <li>Close date</li>
                                          <li>Company name</li>
                                      </ul>
                                    </div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
                  <div class="sparkline13-list">
                      <div class="sparkline13-hd">
                          <div class="main-sparkline13-hd">
                              <h1><span class="table-project-n">Contacts</span></h1>
                          </div>
                      </div>
                      <div class="sparkline13-graph">
                          <div class="datatable-dashv1-list custom-datatable-overright">
                              <table id="tableContact" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                  data-cookie-id-table="saveId" data-show-export="false" data-click-to-select="true" data-toolbar="#toolbar">
                                  <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="name" data-editable="true">Name</th>
                                        <th data-field="email" data-editable="true">Contact Owner</th>
                                        <th data-field="phone" data-editable="true">Email</th>
                                        <th data-field="complete">Phone</th>
                                        <th data-field="city" data-editable="true">City</th>
                                        <th data-field="dob" data-editable="true">DOB</th>
                                        <th data-field="gender" data-editable="true">Gender</th>
                                        <th data-field="date" data-editable="true">Last Activity Date</th>
                                        <th data-field="" data-editable="true">Last Contacted</th>
                                        <th data-field="date" data-editable="true">Create Date</th>
                                        <th data-field="price" data-editable="true">Lead Status</th>
                                        <th data-field="action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>Morish</td>
                                        <td>Bravo</td>
                                        <td>admin@uttara.com</td>
                                        <td>+8801962067309</td>
                                        <td>London</td>
                                        <td>12-10-1992</td>
                                        <td>Male</td>
                                        <td class="datatable-ct"><span class="pie">1/6</span>
                                        </td>
                                        <td>-</td>
                                        <td>Jul 14, 2017</td>
                                        <td>$5455</td>
                                        <td class="datatable-ct action-btn">
                                            <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Jhone</td>
                                        <td>Dummy</td>
                                        <td>fox@itpark.com</td>
                                        <td>+8801762067304</td>
                                        <td>London</td>
                                        <td>12-10-1992</td>
                                        <td>Male</td>
                                        <td class="datatable-ct"><span class="pie">230/360</span>
                                        </td>
                                        <td>-</td>
                                        <td>fab 2, 2017</td>
                                        <td>$8756</td>
                                        <td class="datatable-ct action-btn">
                                            <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Eve</td>
                                        <td>Lorem</td>
                                        <td>gumre@hash.com</td>
                                        <td>+8801862067308</td>
                                        <td>London</td>
                                        <td>12-10-1992</td>
                                        <td>Male</td>
                                        <td class="datatable-ct"><span class="pie">0.42/1.461</span>
                                        </td>
                                        <td>-</td>
                                        <td>Seb 5, 2017</td>
                                        <td>$9875</td>
                                        <td class="datatable-ct action-btn">
                                            <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Adam</td>
                                        <td>Smith</td>
                                        <td>kyum@frok.com</td>
                                        <td>+8801962066547</td>
                                        <td>London</td>
                                        <td>12-10-1992</td>
                                        <td>Male</td>
                                        <td class="datatable-ct"><span class="pie">2,7</span>
                                        </td>
                                        <td>-</td>
                                        <td>Oct 10, 2017</td>
                                        <td>$3254</td>
                                        <td class="datatable-ct action-btn">
                                            <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Bo</td>
                                        <td>Clark</td>
                                        <td>jams@game.com</td>
                                        <td>+8801962098745</td>
                                        <td>London</td>
                                        <td>12-10-1992</td>
                                        <td>Male</td>
                                        <td class="datatable-ct"><span class="pie">200,133</span>
                                        </td>
                                        <td>-</td>
                                        <td>Nov 20, 2017</td>
                                        <td>$58745</td>
                                        <td class="datatable-ct action-btn">
                                            <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Mike</td>
                                        <td>Mikey</td>
                                        <td>flat@yem.com</td>
                                        <td>+8801962254781</td>
                                        <td>London</td>
                                        <td>12-10-1992</td>
                                        <td>Male</td>
                                        <td class="datatable-ct"><span class="pie">0.42,1.051</span>
                                        </td>
                                        <td>-</td>
                                        <td>Aug 25, 2017</td>
                                        <td>$789879</td>
                                        <td class="datatable-ct action-btn">
                                            <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Ross</td>
                                        <td>Robin</td>
                                        <td>hasan@wpm.com</td>
                                        <td>+8801962254863</td>
                                        <td>London</td>
                                        <td>12-10-1992</td>
                                        <td>Male</td>
                                        <td class="datatable-ct"><span class="pie">2,7</span>
                                        </td>
                                        <td>-</td>
                                        <td>July 17, 2017</td>
                                        <td>$21424</td>
                                        <td class="datatable-ct action-btn">
                                            <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Ralph</td>
                                        <td>Alph</td>
                                        <td>ATM@devep.com</td>
                                        <td>+8801962875469</td>
                                        <td>London</td>
                                        <td>12-10-1992</td>
                                        <td>Male</td>
                                        <td class="datatable-ct"><span class="pie">2,7</span>
                                        </td>
                                        <td>-</td>
                                        <td>June 11, 2017</td>
                                        <td>$78978</td>
                                        <td class="datatable-ct action-btn">
                                            <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Boat</td>
                                        <td>Prestine</td>
                                        <td>presta@Prest.com</td>
                                        <td>+8801962067524</td>
                                        <td>London</td>
                                        <td>12-10-1992</td>
                                        <td>Male</td>
                                        <td class="datatable-ct"><span class="pie">2,7</span>
                                        </td>
                                        <td>-</td>
                                        <td>May 9, 2017</td>
                                        <td>$45645</td>
                                        <td class="datatable-ct action-btn">
                                            <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Selenium</td>
                                        <td>Chrestine</td>
                                        <td>Dev@game.com</td>
                                        <td>+8801962067457</td>
                                        <td>London</td>
                                        <td>12-10-1992</td>
                                        <td>Male</td>
                                        <td class="datatable-ct"><span class="pie">2,7</span>
                                        </td>
                                        <td>-</td>
                                        <td>April 5, 2017</td>
                                        <td>$4564545</td>
                                        <td class="datatable-ct action-btn">
                                            <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>HP</td>
                                        <td>Jhone</td>
                                        <td>gular@angular.com</td>
                                        <td>+8801962067124</td>
                                        <td>London</td>
                                        <td>12-10-1992</td>
                                        <td>Male</td>
                                        <td class="datatable-ct"><span class="pie">2,7</span>
                                        </td>
                                        <td>-</td>
                                        <td>Dec 1, 2017</td>
                                        <td>$645455</td>
                                        <td class="datatable-ct action-btn">
                                            <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Jone</td>
                                        <td>Eve</td>
                                        <td>open@cart.com</td>
                                        <td>+8801962067587</td>
                                        <td>London</td>
                                        <td>12-10-1992</td>
                                        <td>Male</td>
                                        <td class="datatable-ct"><span class="pie">2,7</span>
                                        </td>
                                        <td>-</td>
                                        <td>Jan 6, 2017</td>
                                        <td>$78978</td>
                                        <td class="datatable-ct action-btn">
                                            <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Jone</td>
                                        <td>Adam</td>
                                        <td>john@example.com</td>
                                        <td>+8801962067471</td>
                                        <td>London</td>
                                        <td>12-10-1992</td>
                                        <td>Male</td>
                                        <td class="datatable-ct"><span class="pie">2,7</span>
                                        </td>
                                        <td>-</td>
                                        <td>Feb 6, 2016</td>
                                        <td>$456456</td>
                                        <td class="datatable-ct action-btn">
                                            <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Jone</td>
                                        <td>Morish</td>
                                        <td>mary@example.com</td>
                                        <td>+8801962012457</td>
                                        <td>London</td>
                                        <td>12-10-1992</td>
                                        <td>Male</td>
                                        <td class="datatable-ct"><span class="pie">2,7</span>
                                        </td>
                                        <td>-</td>
                                        <td>Jan 6, 2016</td>
                                        <td>$87978</td>
                                        <td class="datatable-ct action-btn">
                                            <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Jone</td>
                                        <td>Rock</td>
                                        <td>july@example.com</td>
                                        <td>+8801962067309</td>
                                        <td>London</td>
                                        <td>12-10-1992</td>
                                        <td>Male</td>
                                        <td class="datatable-ct"><span class="pie">2,7</span>
                                        </td>
                                        <td>-</td>
                                        <td>Dec 1, 2016</td>
                                        <td>$454554</td>
                                        <td class="datatable-ct action-btn">
                                            <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Jone</td>
                                        <td>Jhonsam</td>
                                        <td>john@example.com</td>
                                        <td>+8801962067306</td>
                                        <td>London</td>
                                        <td>12-10-1992</td>
                                        <td>Male</td>
                                        <td class="datatable-ct"><span class="pie">2,7</span>
                                        </td>
                                        <td>-</td>
                                        <td>May 9, 2016</td>
                                        <td>$564555</td>
                                        <td class="datatable-ct action-btn">
                                            <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Jone</td>
                                        <td>Sam</td>
                                        <td>mary@example.com</td>
                                        <td>+8801962067305</td>
                                        <td>London</td>
                                        <td>12-10-1992</td>
                                        <td>Male</td>
                                        <td class="datatable-ct"><span class="pie">2,7</span>
                                        </td>
                                        <td>-</td>
                                        <td>June 11, 2016</td>
                                        <td>$454565</td>
                                        <td class="datatable-ct action-btn">
                                            <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Jone</td>
                                        <td>Martine</td>
                                        <td>july@example.com</td>
                                        <td>+8801962067304</td>
                                        <td>London</td>
                                        <td>12-10-1992</td>
                                        <td>Male</td>
                                        <td class="datatable-ct"><span class="pie">2,7</span>
                                        </td>
                                        <td>-</td>
                                        <td>May 9, 2015</td>
                                        <td>$456546</td>
                                        <td class="datatable-ct action-btn">
                                            <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Jone</td>
                                        <td>Lovely</td>
                                        <td>john@range.com</td>
                                        <td>+8801962067303</td>
                                        <td>London</td>
                                        <td>12-10-1992</td>
                                        <td>Male</td>
                                        <td class="datatable-ct"><span class="pie">2,7</span>
                                        </td>
                                        <td>-</td>
                                        <td>Feb 9, 2014</td>
                                        <td>$564554</td>
                                        <td class="datatable-ct action-btn">
                                            <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Jone</td>
                                        <td>Jone</td>
                                        <td>lamon@ghs.com</td>
                                        <td>+8801962067302</td>
                                        <td>London</td>
                                        <td>12-10-1992</td>
                                        <td>Male</td>
                                        <td class="datatable-ct"><span class="pie">2,7</span>
                                        </td>
                                        <td>-</td>
                                        <td>July 6, 2014</td>
                                        <td>$789889</td>
                                        <td class="datatable-ct action-btn">
                                            <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Jone</td>
                                        <td>Jonny</td>
                                        <td>hasad@uth.com</td>
                                        <td>+8801962067301</td>
                                        <td>London</td>
                                        <td>12-10-1992</td>
                                        <td>Male</td>
                                        <td class="datatable-ct"><span class="pie">2,7</span>
                                        </td>
                                        <td>-</td>
                                        <td>Jun 6, 2013</td>
                                        <td>$4565656</td>
                                        <td class="datatable-ct action-btn">
                                            <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- CONTACT preview Modal -->
<div class="modal fade" id="contactviewModal" tabindex="-1" role="dialog" aria-labelledby="clientmodalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="clientmodalTitle">Jhone Doe</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="contact-sparkle-line reso-mg-b-30">
                        <div class="contact-content">
                            <h4>About This Contact</h4>
                            <form>
                              <div class="form-group">
                                <label for="fname">First Name</label>
                                <input type="text" class="form-control" id="fname" aria-describedby="fname" placeholder="First Name">
                              </div>
                              <div class="form-group">
                                <label for="lname">Last Name</label>
                                <input type="text" class="form-control" id="lname" aria-describedby="lname" placeholder="Last Name">
                              </div>
                              <div class="form-group">
                                <label for="eaddress">Email Address</label>
                                <input type="text" class="form-control" id="eaddress" placeholder="Email Address">
                              </div>
                              <div class="form-group">
                                <label for="pno">Phone Number</label>
                                <input type="text" class="form-control" id="pno" placeholder="Phone Number">
                              </div>
                              <div class="form-group">
                                <label for="cowner">Contact Owner</label>
                                <input type="text" class="form-control" id="cowner" placeholder="Contact Owner">
                              </div>
                              <div class="form-group">
                                <label for="lstage">Lifecycle Stage</label>
                                <input type="text" class="form-control" id="lstage" placeholder="Lifecycle Stage">
                              </div>
                              <div class="form-group">
                                <label for="lstatus">Lead Status</label>
                                <input type="text" class="form-control" id="lstatus" placeholder="Lead Status">
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="record.html" type="button" class="btn btn-primary">View Record</a>
      </div>
    </div>
  </div>
</div>

<!-- Add new contact modal -->
<div class="modal fade" id="createcontactmodal" tabindex="-1" role="dialog" aria-labelledby="contactmodalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="contactmodalTitle">Create Contact</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="contact-sparkle-line reso-mg-b-30">
                        <div class="contact-content">
                            <form>
                              <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" aria-describedby="Salutation" placeholder="example@mail.com">
                              </div>
                              <div class="form-group">
                                <label for="fname">First Name</label>
                                <input type="text" class="form-control" id="fname" placeholder="First Name">
                              </div>
                              <div class="form-group">
                                <label for="lname">Last Name</label>
                                <input type="text" class="form-control" id="lname" placeholder="Last Name">
                              </div>
                              <div class="form-group">
                                <label for="cowner">Contact Owner</label>
                                <input type="text" class="form-control" id="cowner" placeholder="Contact Owner">
                              </div>
                              <div class="form-group">
                                <label for="jobitle">Job Title</label>
                                <input type="text" class="form-control" id="jobTitle" placeholder="Job Title">
                              </div>
                              <div class="form-group">
                                <label for="compname">Company Name</label>
                                <input type="text" class="form-control" id="compname" placeholder="Company Name">
                              </div>
                              <div class="form-group">
                                <label for="compdomainname">Website Address</label>
                                <input type="text" class="form-control" id="compdomainname" placeholder="Company Domain Name">
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <a [routerLink]="['/contact_details']" data-dismiss="modal" type="button" class="btn btn-primary">Create Contact</a>
      </div>
    </div>
  </div>
</div>