<section id="login-form">
		
  <div class="container">
    <div class="row">
        
        <div class="col-md-7 col-md-offset-3">
          
          <div class="login-form-fields">
            <h3>Login Form</h3>
            <form action="#">
              <input type="text" name="username" class="form-control" placeholder="Username">
              <input type="password" name="pwd" class="form-control" placeholder="Password">
              <div id="login-btn">
                <button class="btn btn-md">Login</button>
              </div>
            </form>

          </div>

        </div>
        <!-- <div class="col-md-5 bg-img">
          <div class="content-box text-center">
            <div class="contents">
              <span>Secure Login</span>
              <p>Please fill the login form to access your account.</p>
            </div>
          </div>
        </div> -->

    </div>
  </div>

</section>