<div id="main">
  <!-- Add all your websites page content here  -->
  <div class="traffic-analysis-area mt-100">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="hpanel responsive-mg-b-30">
                      <div class="panel-body">
                        <div class="single-cards-item">
                          <div class="single-product-text">
                            <img src="assets/img/product/pro4.jpg" alt="">
                            <h4><a class="cards-hd-dn" href="#">Angela Dominic</a></h4>
                            <h5>Web Designer & Developer</h5>
                            <ul>
                              <li class="dropdown action-cards">
                                  <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">Action <span class="angle-down-topmenu"><i class="fa fa-angle-down"></i></span></a>
                                  <div role="menu" class="dropdown-menu animated action-list-user">
                                      <a href="#" class="dropdown-item">Unfollow</a>
                                      <a href="#" class="dropdown-item">Search in Google</a>
                                      <a href="#" class="dropdown-item">Merge</a>
                                      <a href="#" class="dropdown-item">Delete</a>
                                  </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 mg-t-15">
                    <div class="white-box analytics-info-cs" id="accordion">
                      <div class="card">
                        <div class="card-header collp-heading" id="headingTwo">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed collp-title" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              About Angela Dominic
                              <i class="fas fa-sort-down float-right collp-arrow"></i>
                            </button>
                          </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                          <div class="card-body">
                            <div class="contact-content2">
                              <h4>About Jhone Doe</h4>
                              <form>
                                <div class="form-group">
                                  <label for="name">Name</label>
                                  <input type="text" class="form-control" value="Jhone" id="name" aria-describedby="cname" placeholder="Name">
                                </div>
                                <div class="form-group">
                                  <label for="lname">Last name</label>
                                  <input type="text" class="form-control" value="Doe" id="lname" placeholder="Last name">
                                </div>
                                <div class="form-group">
                                  <label for="email">Email</label>
                                  <input type="email" class="form-control" value="jhonedoe@mail.com" id="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                  <label for="phnumber">Phone number</label>
                                  <input type="text" class="form-control" value="+00-909082090" id="phnumber" placeholder="Phone Number">
                                </div>
                                <div class="form-group">
                                  <label for="co">Contact owner</label>
                                  <input type="text" class="form-control" id="co" value="Jhone Doe" placeholder="Contact owner">
                                </div>
                                <div class="form-group">
                                  <label for="clnotes">Notes</label>
                                  <input type="text" class="form-control" id="clnotes" placeholder="Notes">
                                </div>
                                <a type="submit" class="btn btn-primary">View all properties</a>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>   
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="record-tabs">
                          <div class="admintab-wrap edu-tab1">
                            <ul class="nav nav-tabs nav-tab-notes custom-menu-wrap custon-tab-menu-style1">
                                  <li class="active"><a data-toggle="tab" href="#newNote" class="color-grey"><i class="fas fa-edit mr-10"></i><span class="edu-icon edu-analytics tab-custon-ic"></span>New Note</a>
                                  </li>
                                  <li><a data-toggle="tab" href="#logActivity" class="color-grey"><i class="far fa-plus-square mr-10"></i><span class="edu-icon edu-analytics-arrow tab-custon-ic"></span>Log Activity</a>
                                  </li>
                                  <li><a data-toggle="tab" href="#schedule" class="color-grey"><i class="far fa-calendar-alt mr-10"></i><span class="edu-icon edu-analytics-bridge tab-custon-ic"></span>Schedule</a>
                                  </li>
                            </ul>
                            <div class="tab-content">
                              <div id="newNote" class="tab-pane in active animated flipInX custon-tab-style1">
                                <textarea rows="6" cols="85" class="log-activity-textarea" placeholder="Start Typing to leave a note..."></textarea>
                              </div>
                              <div id="logActivity" class="tab-pane animated flipInX custon-tab-style1">
                                <div class="row text-center mb-10">
                                  <div class="col-lg-2">
                                    <ul>
                                      <li class="dropdown action-cards">
                                        <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle color-grey">Log <span class="angle-down-topmenu ml-10"><i class="fa fa-angle-down"></i></span></a>
                                        <div role="menu" class="dropdown-menu animated log-acivity-dropdown">
                                          <a href="#" class="dropdown-item">Log a call</a>
                                          <a href="#" class="dropdown-item">Log an email</a>
                                          <a href="#" class="dropdown-item">Log a meeting</a>
                                        </div>
                                      </li>
                                    </ul>
                                  </div>
                                  <div class="col-lg-4 plr-0">
                                    <ul>
                                      <li class="dropdown action-cards">
                                        <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle color-grey">Select an outcome <span class="angle-down-topmenu ml-10"><i class="fa fa-angle-down"></i></span></a>
                                        <div role="menu" class="dropdown-menu animated log-acivity-dropdown">
                                          <a href="#" class="dropdown-item">No Answer</a>
                                          <a href="#" class="dropdown-item">Busy</a>
                                          <a href="#" class="dropdown-item">Wrong Number</a>
                                          <a href="#" class="dropdown-item">Left live message</a>
                                          <a href="#" class="dropdown-item">Left voicemail</a>
                                          <a href="#" class="dropdown-item">Connected</a>
                                        </div>
                                      </li>
                                    </ul>
                                  </div>
                                  <div class="col-lg-4 plr-0">
                                    <ul>
                                      <li class="dropdown action-cards">
                                        <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle color-grey">Select call type <span class="angle-down-topmenu ml-10"><i class="fa fa-angle-down"></i></span></a>
                                        <div role="menu" class="dropdown-menu animated log-acivity-dropdown">
                                          <a href="#" class="dropdown-item">Add activity type</a>
                                        </div>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-lg-12">
                                    <textarea rows="6" cols="85" class="log-activity-textarea" placeholder="Describe the call..."></textarea>
                                  </div>
                                </div>   
                              </div>
                              <div id="schedule" class="tab-pane animated flipInX custon-tab-style1">
                                <div class="row">
                                  <div class="col-lg-12">
                                    <input type="text" name="" class="log-activity" placeholder="What are you meeting about?">
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-lg-12">
                                    <textarea rows="6" cols="85" class="log-activity-textarea" placeholder="Describe the call..."></textarea>
                                  </div>
                                </div> 
                              </div>
                            </div>
                          </div>
                        </div>
                      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 mt-20 p-0">
                          <div class="record-below-tabs">
                              <div class="admintab-wrap edu-tab1">
                              <ul class="nav nav-tabs nav-tab-notes custom-menu-wrap custon-tab-menu-style1 tab-color">
                                  <li class="active"><a data-toggle="tab" href="#activity-tab" class="color-grey"><span class="edu-icon edu-analytics tab-custon-ic"></span>Activity</a>
                                  </li>
                                  <li><a data-toggle="tab" href="#note-tab" class="color-grey"><span class="edu-icon edu-analytics-arrow tab-custon-ic"></span>Notes</a>
                                  </li>
                                  <li><a data-toggle="tab" href="#task-tab" class="color-grey"><span class="edu-icon edu-analytics-bridge tab-custon-ic"></span>Tasks</a>
                                  </li>
                              </ul>
                              <div class="tab-content">
                                  <div id="activity-tab" class="tab-pane in active animated flipInX custon-tab-style1">
                                      <ul class="timeline">
                                          <li>
                                              <div class="ml-30">
                                                  <h3 class="fw-500">Upcoming </h3>
                                                  <div class="timline-content">
                                                      <div class="row">
                                                          <div class="col-lg-12 bb-1">
                                                              <h5 class="color-grey float-left fw-500 pt-10">You created a task by yourself</h5>
                                                              <ul class="float-right">
                                                                  <li class="dropdown action-cards">
                                                                      <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle color-grey">Action <span class="angle-down-topmenu ml-10"><i class="fa fa-angle-down"></i></span></a>
                                                                      <div role="menu" class="dropdown-menu animated log-acivity-dropdown">
                                                                          <a href="#" class="dropdown-item">Edit</a>
                                                                          <a href="#" class="dropdown-item">Delete</a>
                                                                      </div>
                                                                  </li>
                                                              </ul>
                                                          </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-lg-12 bb-1 p-20">
                                                              <h4 class="color-grey float-left pt-10">Task Name</h4>
                                                              <p class="float-right color-grey">Due Date <br>21 March, 2014</p>
                                                          </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-lg-12 p-20">
                                                              <p class="color-grey">Description About the task</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="ml-30">
                                                  <h3 class="fw-500">October 2018 </h3>
                                                  <div class="timline-content">
                                                      <div class="single-review-st-text">
                                                          <img src="assets/img/notification/2.jpg" alt="">
                                                          <div class="review-ctn-hf">
                                                              <h3 class="color-grey fw-500">The lifecycle stage for Garbease sha was changed to "Lead" by garbease@mail.com</h3>
                                                              <p class="color-grey">Oct 29 at 16:34 GMT+5:30</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                                  <div id="note-tab" class="tab-pane animated flipInX custon-tab-style1">
                                      <ul class="timeline">
                                          <li>
                                              <div class="ml-30">
                                                  <h3 class="fw-500">September 2018 </h3>
                                                  <div class="timline-content">
                                                      <div class="single-review-st-text bb-1">
                                                          <img src="assets/img/notification/2.jpg" alt="">
                                                          <div class="review-ctn-hf">
                                                              <h3 class="color-grey fw-500">You left a note about Siam Graves</h3>
                                                              <p class="color-grey">Oct 31 at 12:55 GMT+5:30</p>
                                                          </div>
                                                          <div class="review-item-rating">
                                                              <ul>
                                                                  <li class="dropdown action-cards">
                                                                      <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle color-grey">Action <span class="angle-down-topmenu ml-10"><i class="fa fa-angle-down"></i></span></a>
                                                                      <div role="menu" class="dropdown-menu animated log-acivity-dropdown">
                                                                          <a href="#" class="dropdown-item">Edit</a>
                                                                          <a href="#" class="dropdown-item">Delete</a>
                                                                      </div>
                                                                  </li>
                                                              </ul>
                                                          </div>
                                                      </div>
                                                      <div class="single-review-st-text">
                                                          <div class="review-ctn-hf">
                                                              <p class="color-grey">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="ml-30">
                                                  <h3 class="fw-500">October 2018 </h3>
                                                  <div class="timline-content">
                                                      <div class="single-review-st-text bb-1">
                                                          <img src="assets/img/notification/2.jpg" alt="">
                                                          <div class="review-ctn-hf">
                                                              <h3 class="color-grey fw-500">You left a note about Sarah Graves</h3>
                                                              <p class="color-grey">Oct 31 at 12:55 GMT+5:30</p>
                                                          </div>
                                                          <div class="review-item-rating">
                                                              <ul>
                                                                  <li class="dropdown action-cards">
                                                                      <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle color-grey">Action <span class="angle-down-topmenu ml-10"><i class="fa fa-angle-down"></i></span></a>
                                                                      <div role="menu" class="dropdown-menu animated log-acivity-dropdown">
                                                                          <a href="#" class="dropdown-item">Edit</a>
                                                                          <a href="#" class="dropdown-item">Delete</a>
                                                                      </div>
                                                                  </li>
                                                              </ul>
                                                          </div>
                                                      </div>
                                                      <div class="single-review-st-text">
                                                          <div class="review-ctn-hf">
                                                              <p class="color-grey">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </li>
                                      </ul>  
                                  </div>
                                  <div id="task-tab" class="tab-pane animated flipInX custon-tab-style1">
                                      <ul class="timeline">
                                          <li>
                                              <div class="ml-30">
                                                  <h3 class="fw-500">Upcoming </h3>
                                                  <div class="timline-content">
                                                      <div class="row">
                                                          <div class="col-lg-12 bb-1">
                                                              <h5 class="color-grey float-left fw-500 pt-10">You created a task by yourself</h5>
                                                              <ul class="float-right">
                                                                  <li class="dropdown action-cards">
                                                                      <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle color-grey">Action <span class="angle-down-topmenu ml-10"><i class="fa fa-angle-down"></i></span></a>
                                                                      <div role="menu" class="dropdown-menu animated log-acivity-dropdown">
                                                                          <a href="#" class="dropdown-item">Edit</a>
                                                                          <a href="#" class="dropdown-item">Delete</a>
                                                                      </div>
                                                                  </li>
                                                              </ul>
                                                          </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-lg-12 bb-1 p-20">
                                                              <h4 class="color-grey float-left pt-10">Task Name</h4>
                                                              <p class="float-right color-grey">Due Date <br>21 March, 2014</p>
                                                          </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-lg-12 p-20">
                                                              <p class="color-grey">Description About the task</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="ml-30">
                                                  <h3 class="fw-500">September 2018 </h3>
                                                  <div class="timline-content">
                                                      <div class="row">
                                                          <div class="col-lg-12 bb-1">
                                                              <h5 class="color-grey float-left fw-500 pt-10">You created a task by yourself</h5>
                                                              <ul class="float-right">
                                                                  <li class="dropdown action-cards">
                                                                      <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle color-grey">Action <span class="angle-down-topmenu ml-10"><i class="fa fa-angle-down"></i></span></a>
                                                                      <div role="menu" class="dropdown-menu animated log-acivity-dropdown">
                                                                          <a href="#" class="dropdown-item">Edit</a>
                                                                          <a href="#" class="dropdown-item">Delete</a>
                                                                      </div>
                                                                  </li>
                                                              </ul>
                                                          </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-lg-12 bb-1 p-20">
                                                              <h4 class="color-grey float-left pt-10">Task Name</h4>
                                                              <p class="float-right color-grey">Due Date <br>21 March, 2014</p>
                                                          </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-lg-12 p-20">
                                                              <p class="color-grey">Description About the task</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </li>
                                      </ul> 
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>