﻿/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #fff;
    border-right: 2px solid #ddd; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
#nav-menu{
  transition: 0.5s;
  margin-left: 200px;
}
.navbar-nav{margin: 0;}

.logoimg{height: 48px;}
#nav-menu>li>a:hover{background-color: #003399 !important;}
#nav-menu>li>a:focus{background: #003399;}

.left-menu-items a:hover{
  background: #F6F8FA;
}
.left-menu-items a{
  background:#eee;
}
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: rgb(90,90,90);
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.sidenav a i{
    width: 25px;
    height: 25px;
    text-align:center;
    -webkit-margin-end: 24px;
    /*transform: rotate(90deg);*/
  }
.rotate .fa-chevron-left{
  -moz-transition: all .1s linear;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}
.rotate.down .fa-chevron-left{
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);
}
.date-time{
  padding:0 10px;
  color: #000;
  font-weight: 600;
}
.date-time .date{
  float: left;
  padding: 8px 0;
  font-size: 12px;
}
.date-time .time{
  float: right;
  padding: 8px 0;
  font-size: 12px;
}
.left-menu-search{
    width: 95%;
    margin: 0 auto;
}
.dashboard-title{
  padding: 15px 0px !important;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  background: rgba(1, 44, 130, 0.1);
  border-bottom: 2px solid rgba(1, 44, 130, 0.2) !important;
  border-top: 1px solid rgba(1, 44, 130, 0.2) !important;
}
.administration-title{
  padding: 15px 0px !important;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  background: rgba(1, 44, 130, 0.1);
  border-bottom: 2px solid rgba(1, 44, 130, 0.2) !important;
  border-top: 2px solid rgba(1, 44, 130, 0.2) !important;
}

#demo{
  background-color: whitesmoke;
}
#left-side-icon-menu{
    background: whitesmoke;
    width: 56px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    height: 100%;
    border-right: 2px solid #eee;
    transition: margin-left .5s;
}
.left-side-icon-menu-wrapper{
  padding-top: 50px;
}
.left-side-icon-menu-wrapper a{
  display: block;
  font-size: 30px;
  color: rgb(90,90,90);
  padding-top: 10px;
  padding-bottom: 10px;
}
.left-side-icon-menu-wrapper a img{
  width: 30px;
  height: 30px;
}
.left-side-icon-menu-wrapper a:hover, .left-side-icon-menu-wrapper a:focus{
  color: rgba(27, 135, 237);
  background-color: rgba(27, 135, 237,0.1);
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #000;
}
.sidenav a:focus{
  background-color: rgba(27, 135, 237,0.1);
  color: rgba(27, 135, 237);
}
 
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
}
 
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
    overflow:hidden;
    width:85%;
    margin-left: 250px;
    padding-left: 60px;
    padding-left: 10px !important
}
body {
  overflow-x: hidden;
}
 
/* Add a blue background color to the top navigation */
.topnav {
    background-color: #003399;
    /*overflow: hidden;*/
    max-height: 50px;
    padding-right: 20px;
    border-radius: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}
#nav-menu .dropdown-menu>li>a{
  width: 100%;
  text-align:left;
}
 
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 48px;
}
.nav-logo-text{
    font-size: 22px;
    font-weight: 600;
}
/* Change the color of links on hover */
.topnav a:hover,.topnav a:focus {
    /*background-color: #012c82 !important;*/
    color: #fff;
}
 
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
 
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
 
a svg{
  transition:all .5s ease;
 
  &:hover{
    #transform:rotate(180deg);
  }
}
 
#ico{
  display: none;
}
 
.menu{
  background: #000;
  display: none;
  padding: 5px;
  width: 320px;
  include border-radius(5px);
 
  #transition: all 0.5s ease;
 
  a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 2px;
    margin: 3px 0;
    text-decoration: none;
    background: #444;
 
    &:nth-child(1){
      margin-top: 0;
      @include border-radius(3px 3px 0 0 );
    }
    &:nth-child(5){
      margin-bottom: 0;
      @include border-radius(0 0 3px 3px);
    }
 
    &:hover{
      background: #555;
    }
  }
}





/*tree menu*/
ul[role="tree"] {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 120%;
}

[role="treeitem"].doc:before {
    content: url(../images/file.png);
}

[role="treeitem"][aria-expanded="false"] > ul {
  display: none;
}

[role="treeitem"][aria-expanded="true"] > ul {
  display: block;
}

[role="treeitem"][aria-expanded="false"] > span:before {
  content: url(../images/closed.png);
}

[role="treeitem"][aria-expanded="true"] > span:before {
  content: url(../images/open.png);
}

[role="treeitem"],
[role="treeitem"] span {
  width: 9em;
  margin: 0;
  padding: 0;
  border: 2px transparent solid;
  padding: 0.125em;
  display: block;
}

/* disable default keyboard focus styling for treeitems
   Keyboard focus is styled with the following CSS */
[role="treeitem"]:focus {
  outline: 0;
}


[role="treeitem"].focus,
[role="treeitem"] span.focus {
  border-color: black;
  background-color: #EEEEEE;
}

[role="treeitem"].hover,
[role="treeitem"] span:hover {
  background-color: #DDDDDD;
}


/*Fav section*/
.fav-warpper{padding: 20px;background: #fff;height: 420px; overflow-y: auto;}
.single-review-st-hd h2{
  font-size:18px !important;
  color:#303030;
  font-weight: 700;
}
.single-review-st-text img {
    height: 56px;
    width: 56px;
}
.single-review-st-text{
      display: flex;
      border-bottom: 1px solid #eee;
}
.single-review-st-text{
  padding: 7.7px 0px;
}
.single-review-st-text:last-child{
  padding-bottom: 0px;
}
.single-review-st-text img{
  height:50px;
  width:50px;
  border-radius:50%;
}
.review-ctn-hf h3{
  font-size:14px;
  color:#303030;
  margin-bottom:5px;
  margin-top: 0;
  font-weight: 700;
}
.review-ctn-hf, .review-item-rating {
    margin-left: 15px;
}
.review-ctn-hf p{
  font-size:14px;
  color:#303030;
  margin:0;
}
.review-ctn-hf{
  margin-top:5px;
}
.review-item-rating i {
    font-size: 14px;
    /*margin-top: 15px;*/
  color:#6d6d6d;
}
.review-item-rating a:hover i{
  color: #fff;
}
.review-item-rating {
    text-align: right;
    margin-left: auto;
  margin-top:5px;
}
.preview-btn{
  font-size: 14px;
    color: #fff !important;
    background: #006DF0;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 3px;
}
/*fav section end*/

/*datatable section*/
.fixed-table-loading{display: none !important;}
.pagination{margin: 0;}
.pagination>.active>a{z-index: 0;}

.recent-addition-wrapper{
  background: #fff;
  padding: 20px;
}
.recent-calls-wrapper{
  background: #fff;
  padding: 20px;
  margin-bottom: 40px;
}
.active-sharedLinks-wrapper{
  background: #fff;
  padding: 20px;
  margin-bottom: 40px;
}
/*datatable section end*/

/*checkboxs*/
.checkboxs{margin-left: 25px;}
/* The container */
.conta {
    /*display: block;*/
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    /*font-size: 22px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 12px;
    margin-top: 10px;
    font-weight: 500 !important;
}

/* Hide the browser's default checkbox */
.conta input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.conta:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.conta input:checked ~ .checkmark {
    background-color: #003399;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.conta input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.conta .checkmark:after {
    left: 7px;
    top: 1px;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*checkboxs end*/
/*tables collapse*/
.collapse-btn{background-color: #fff;padding: 15px;}