#LoginForm{
	background-color: #eee;
}
.form-heading { 
	color:#fff; 
	font-size:23px;
}
.panel{
	padding: 10px 20px;
	/*background: linear-gradient(#fff,#d3e4f0, #d3e4f0, #d3e4f0, #d3e4f0, #fff);
	border: 1px solid #d3e4f0;*/

}
.panel h2{ 
	color:#444444;
	font-size:18px; 
	margin:0 0 8px 0;
}
#Login{
	padding: 40px 70px;
}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 200px auto 30px;
  max-width: 50%;
  /*padding: 50px 70px 70px 71px;*/
  box-shadow: 0px 2px 10px 4px #ccc;
  /*background-color: #d3e4f0;*/
}

.login-form .form-group {
  margin-bottom:10px;
}
/*.login-form{ text-align:center;}*/
.forgot label {
  color: #777777;
  font-size: 14px;
  font-weight: normal;
}
.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}

@media (max-width: 768px){
	.main-div{
		max-width: 100% !important;
	}
}

/*======================footer================================*/
#footer-box{
    position: fixed !important;
    bottom: 0;
    left: 0px;
    width: 100%;
    /*height: 90px;*/
    background-color: #003399;
    color: #fff;
    transition:all .5s ease;
    padding-top: 3px;
    text-align: center;
}
.footer-wrapper{
  padding:15px;
}
.footer-wrapper a{
  color: #fff;
  text-decoration: none;
}
/*.footer-horizontal-line{
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 1px solid rgba(0,0,0,0.1);
}*/
/*.footer-down{
  padding-left: 5px;
}*/
/*.footer-up{
  padding-left: 5px;
}*/
/*.footer-wrapper .btn-group button{
  border:none;
  border-right: 2px solid #ddd;
}*/
/*.footer-wrapper .btn-group button:nth-last-child(1) {
    border-right: none;
}
.footer-wrapper .btn-group button i {
  width: 30px;
  margin-right: 10px;
}*/

/*================================Login form 2===================================*/
#login-form .col-md-7{
  box-shadow: 1px 0px 34px 10px lightgrey;
  margin-top: 200px;
  background-color: #fff;
}
.login-form-fields{
  padding: 60px 80px;
}
.login-form-fields form{
  width: 80%;
  margin: 0 auto;
}
.login-form-fields h3{
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #41464b;
  font-weight: 600;
  font-size: 28px;
}
.login-form-fields form input{
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
}
.login-form-fields form input:focus{
  border-radius: 0;
  box-shadow: none;
  border:none;
  border-bottom: 3px solid #03B8AF;
}
#login-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}
#login-btn button{
  background:none;
  border:2px solid #03B8AF;
  width: 120px;
  margin-top: 20px;

}
#login-btn button:hover, #login-btn button:focus{
  background-color: #03b8af;
  color: #fff;
  font-weight: 600;
}


/*.bg-img{
  padding: 0;
  background-image: url("../img/login-img.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content-box{
  height: 374px;
  background-color: rgba(0,0,0,0.5);
  display: table;
  width: 100%;
}
.contents{
  display: table-cell;
  vertical-align: middle;
}
.contents p,span{
  color: #fff
}
.contents span{
  font-size: 36px;
  font-weight: 700;
}
.contents p{
  font-size: 18px;
}*/