<div id="main">
  <!-- Add all your websites page content here  -->
  <div class="traffic-analysis-area">
      <div class="breadcome-area mt-40">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="breadcome-list">
                          <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                  <div class="breadcome-heading">
                                      <!-- <form role="search" class="sr-input-func">
                                          <input type="text" placeholder="Search..." class="search-int form-control">
                                          <a href="#"><i class="fa fa-search"></i></a>
                                      </form> -->
                                      <h3 class="fw-500">Calls</h3>
                                  </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                  <ul class="breadcome-menu">
                                      <li class="dropdown action-cards">
                                          <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle add-comp-btn btn btn-success action-drop">Action <span class="angle-down-topmenu ml-10"><i class="fa fa-angle-down"></i></span></a>
                                          <div role="menu" class="dropdown-menu animated log-acivity-dropdown">
                                              <a href="#" class="dropdown-item">Edit Column</a>
                                              <a href="#" class="dropdown-item">Edit Properties</a>
                                              <a href="#" class="dropdown-item">Restore Customer</a>
                                          </div>
                                      </li>
                                      <li><a href="#" data-toggle="modal" data-target="#addcalls" class="add-comp-btn btn btn-success" class="add-comp-btn btn btn-success"><i class="fas fa-plus"></i> Add Calls</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>            
      <div class="container-fluid">
          <div class="row mt-40">
              <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                  <div class="hpanel responsive-mg-b-30">
                      <div class="panel-body">

                          <ul class="mailbox-list">
                              <li>
                                  <a data-toggle="collapse" href="#addfilter" role="button" aria-expanded="false" aria-controls="addfilter"><i class="fas fa-filter"></i> Add Filters</a>
                                  <div class="collapse" id="addfilter">
                                    <div class="card card-body">
                                      <hr>
                                      <form role="search" class="sr-input-func-filter">
                                          <input type="text" placeholder="Search..." class="search-int form-control">
                                      </form>
                                      <ul class="add-filter">
                                          <li class="ci"><b>Contact Information</b></li>
                                          <li>Annual revenue</li>
                                          <li>Associated company</li>
                                          <li>Became a customer</li>
                                          <li>Became a lead date</li>
                                          <li>City</li>
                                          <li>Close date</li>
                                          <li>Company name</li>
                                      </ul>
                                    </div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
                  <div class="sparkline13-list">
                      <div class="sparkline13-hd">
                          <div class="main-sparkline13-hd">
                              <h1><span class="table-project-n">Calls</span></h1>
                          </div>
                      </div>
                      <div class="sparkline13-graph">
                          <div class="datatable-dashv1-list custom-datatable-overright">
                              <table id="tableClients" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                  data-cookie-id-table="saveId" data-show-export="false" data-click-to-select="true" data-toolbar="#toolbar">
                                  <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="action">Call Type</th>
                                        <th data-field="email" data-editable="true">Duration</th>
                                        <th data-field="date" data-editable="true">Call Outcome</th>
                                        <th data-field="changesDate" data-editable="true">Notes</th>
                                        <th data-field="callback" data-editable="true">Call Back?</th>
                                        <th data-field="reminderset" data-editable="true">Reminder Set?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>Audio</td>
                                        <td>10min</td>
                                        <td>Neutral</td>
                                        <td>Notes Text</td>
                                        <td>Yes</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Audio</td>
                                        <td>10min</td>
                                        <td>Neutral</td>
                                        <td>Notes Text</td>
                                        <td>Yes</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Audio</td>
                                        <td>10min</td>
                                        <td>Neutral</td>
                                        <td>Notes Text</td>
                                        <td>Yes</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Audio</td>
                                        <td>10min</td>
                                        <td>Neutral</td>
                                        <td>Notes Text</td>
                                        <td>Yes</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Audio</td>
                                        <td>10min</td>
                                        <td>Neutral</td>
                                        <td>Notes Text</td>
                                        <td>Yes</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Audio</td>
                                        <td>10min</td>
                                        <td>Neutral</td>
                                        <td>Notes Text</td>
                                        <td>Yes</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Audio</td>
                                        <td>10min</td>
                                        <td>Neutral</td>
                                        <td>Notes Text</td>
                                        <td>Yes</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Audio</td>
                                        <td>10min</td>
                                        <td>Neutral</td>
                                        <td>Notes Text</td>
                                        <td>Yes</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Audio</td>
                                        <td>10min</td>
                                        <td>Neutral</td>
                                        <td>Notes Text</td>
                                        <td>Yes</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Audio</td>
                                        <td>10min</td>
                                        <td>Neutral</td>
                                        <td>Notes Text</td>
                                        <td>Yes</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Audio</td>
                                        <td>10min</td>
                                        <td>Neutral</td>
                                        <td>Notes Text</td>
                                        <td>Yes</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Audio</td>
                                        <td>10min</td>
                                        <td>Neutral</td>
                                        <td>Notes Text</td>
                                        <td>Yes</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Audio</td>
                                        <td>10min</td>
                                        <td>Neutral</td>
                                        <td>Notes Text</td>
                                        <td>Yes</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Audio</td>
                                        <td>10min</td>
                                        <td>Neutral</td>
                                        <td>Notes Text</td>
                                        <td>Yes</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Audio</td>
                                        <td>10min</td>
                                        <td>Neutral</td>
                                        <td>Notes Text</td>
                                        <td>Yes</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Audio</td>
                                        <td>10min</td>
                                        <td>Neutral</td>
                                        <td>Notes Text</td>
                                        <td>Yes</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Audio</td>
                                        <td>10min</td>
                                        <td>Neutral</td>
                                        <td>Notes Text</td>
                                        <td>Yes</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Audio</td>
                                        <td>10min</td>
                                        <td>Neutral</td>
                                        <td>Notes Text</td>
                                        <td>Yes</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Audio</td>
                                        <td>10min</td>
                                        <td>Neutral</td>
                                        <td>Notes Text</td>
                                        <td>Yes</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Audio</td>
                                        <td>10min</td>
                                        <td>Neutral</td>
                                        <td>Notes Text</td>
                                        <td>Yes</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Audio</td>
                                        <td>10min</td>
                                        <td>Neutral</td>
                                        <td>Notes Text</td>
                                        <td>Yes</td>
                                        <td>Yes</td>
                                    </tr>
                                </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Add calls modal -->
<div class="modal fade" id="addcalls" tabindex="-1" role="dialog" aria-labelledby="contactmodalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="contactmodalTitle">Add Calls</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="contact-sparkle-line reso-mg-b-30">
                        <div class="contact-content">
                            <form>
                              <div class="form-group">
                                <label for="email">Subject</label>
                                <input type="text" class="form-control" id="email" aria-describedby="Salutation" placeholder="Subject">
                              </div>
                              <div class="form-group">
                                <label for="fname">Call Type</label>
                                <input type="text" class="form-control" id="fname" placeholder="Outbound/Inbound">
                              </div>
                              <div class="form-group">
                                <label for="lname">Call Purpose</label>
                                <input type="text" class="form-control" id="lname" placeholder="Call Purpose">
                              </div>
                              <div class="form-group">
                                <label for="cowner">Contact Owner</label>
                                <input type="text" class="form-control" id="cowner" placeholder="Contact Owner">
                              </div>
                              <div class="form-group">
                                <label for="jobitle">Call Duration</label>
                                <input type="text" class="form-control" id="jobTitle" placeholder="Job Title">
                              </div>
                              <div class="form-group">
                                <label for="jobitle">Description</label>
                                <input type="text" class="form-control" id="jobTitle" placeholder="Job Title">
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="record.html" type="button" class="btn btn-primary">Create Contact</a>
      </div>
    </div>
  </div>
</div>