<div id="main">
  <!-- Add all your websites page content here  -->
  <div class="container-fluid">
    <!-- Favourites Clients -->
    <section id="recentCalls">
      <div class="row mt-40">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="single-review-st-hd pos-rel">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <h2 class="collapse-btn"><i class="fas fa-minus-circle mr-2r"></i> Companies List</h2>
              </a>
              <a class="addnewlist-btn" title="Add New List" href="#" data-toggle="modal" data-target="#addnewlist">
                <i class="fas fa-plus-circle text-warning"></i>
              </a>
          </div>
          <div id="collapseTwo" class="recent-calls-wrapper panel-collapse collapse in" role="tabpanel">
              <div class="datatable-dashv1-list custom-datatable-overright">
                  <table id="tableClients" data-pagination="true" data-search="true" data-show-pagination-switch="true" data-show-refresh="true" data-resizable="true"
                      data-click-to-select="true" data-toolbar="#toolbar">
                      <thead>
                          <tr>
                              <th data-field="state" data-checkbox="true"></th>
                              <th data-field="cName" data-editable="true">Company Name</th>
                              <th data-field="cdomainname">Company Domain Name</th>
                              <th data-field="desc" data-editable="true">Description</th>
                              <th data-field="mail" data-editable="true">Email</th>
                              <th data-field="industry" data-editable="true">Industry</th>
                              <th data-field="action">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td></td>
                            <td>CRM Company</td>
                            <td>demoweb.com</td>
                            <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
                            <td>crm@mail.com</td>
                            <td>IT</td>
                            <td class="datatable-ct action-btn">
                                <a class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>CRM Company</td>
                            <td>demoweb.com</td>
                            <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
                            <td>crm@mail.com</td>
                            <td>IT</td>
                            <td class="datatable-ct action-btn">
                                <a class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>CRM Company</td>
                            <td>demoweb.com</td>
                            <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
                            <td>crm@mail.com</td>
                            <td>IT</td>
                            <td class="datatable-ct action-btn">
                                <a class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>CRM Company</td>
                            <td>demoweb.com</td>
                            <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
                            <td>crm@mail.com</td>
                            <td>IT</td>
                            <td class="datatable-ct action-btn">
                                <a class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>CRM Company</td>
                            <td>demoweb.com</td>
                            <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
                            <td>crm@mail.com</td>
                            <td>IT</td>
                            <td class="datatable-ct action-btn">
                                <a class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>CRM Company</td>
                            <td>demoweb.com</td>
                            <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
                            <td>crm@mail.com</td>
                            <td>IT</td>
                            <td class="datatable-ct action-btn">
                                <a class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>CRM Company</td>
                            <td>demoweb.com</td>
                            <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
                            <td>crm@mail.com</td>
                            <td>IT</td>
                            <td class="datatable-ct action-btn">
                                <a class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>CRM Company</td>
                            <td>demoweb.com</td>
                            <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
                            <td>crm@mail.com</td>
                            <td>IT</td>
                            <td class="datatable-ct action-btn">
                                <a class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>CRM Company</td>
                            <td>demoweb.com</td>
                            <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
                            <td>crm@mail.com</td>
                            <td>IT</td>
                            <td class="datatable-ct action-btn">
                                <a class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>CRM Company</td>
                            <td>demoweb.com</td>
                            <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
                            <td>crm@mail.com</td>
                            <td>IT</td>
                            <td class="datatable-ct action-btn">
                                <a class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>CRM Company</td>
                            <td>demoweb.com</td>
                            <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
                            <td>crm@mail.com</td>
                            <td>IT</td>
                            <td class="datatable-ct action-btn">
                                <a class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>CRM Company</td>
                            <td>demoweb.com</td>
                            <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
                            <td>crm@mail.com</td>
                            <td>IT</td>
                            <td class="datatable-ct action-btn">
                                <a class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>CRM Company</td>
                            <td>demoweb.com</td>
                            <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
                            <td>crm@mail.com</td>
                            <td>IT</td>
                            <td class="datatable-ct action-btn">
                                <a class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>CRM Company</td>
                            <td>demoweb.com</td>
                            <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
                            <td>crm@mail.com</td>
                            <td>IT</td>
                            <td class="datatable-ct action-btn">
                                <a class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>CRM Company</td>
                            <td>demoweb.com</td>
                            <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
                            <td>crm@mail.com</td>
                            <td>IT</td>
                            <td class="datatable-ct action-btn">
                                <a class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>CRM Company</td>
                            <td>demoweb.com</td>
                            <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
                            <td>crm@mail.com</td>
                            <td>IT</td>
                            <td class="datatable-ct action-btn">
                                <a class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>CRM Company</td>
                            <td>demoweb.com</td>
                            <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
                            <td>crm@mail.com</td>
                            <td>IT</td>
                            <td class="datatable-ct action-btn">
                                <a class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>CRM Company</td>
                            <td>demoweb.com</td>
                            <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
                            <td>crm@mail.com</td>
                            <td>IT</td>
                            <td class="datatable-ct action-btn">
                                <a class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
          </div>
      </div>
    </section>
  </div>
</div>


<!-- Add company modal -->
<div class="modal fade" id="addnewlist" tabindex="-1" role="dialog" aria-labelledby="contactmodalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="contactmodalTitle">Create New Lists</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="contact-sparkle-line reso-mg-b-30">
                            <div class="contact-content">
                                <form>
                                    <div class="form-group">
                                        <label for="cname">Company Name</label>
                                        <input type="text" class="form-control" id="cname" placeholder="Name of the company">
                                    </div>
                                    <div class="form-group">
                                        <label for="cdomainname">Company Domain Name</label>
                                        <input type="text" class="form-control" id="cdomainname" placeholder="Company Domain Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="descr">Description</label>
                                        <!-- <input type="text" class="form-control" id="descr" placeholder="Description"> -->
                                        <textarea rows="4" cols="50" class="form-control" id="descr" placeholder="Description"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" class="form-control" id="email" placeholder="demo@example.com">
                                    </div>
                                    <div class="form-group">
                                        <label for="industry">Industry</label>
                                        <input type="text" class="form-control" id="industry" placeholder="Industry">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-primary">Create List</a>
        </div>
        </div>
    </div>
</div>