<div id="main">
    <!-- Add all your websites page content here  -->
    <div class="container-fluid">
      <!-- favourites section -->
      <section id="favourites">
        <div class="row mt-40">
          <div class="col-lg-6 col-sm-12 col-xs-12 col-md-6">
            <div class="single-review-st-hd">
                <h2>Favourites Contacts</h2>
            </div>
            <div class="fav-warpper">
              <div class="single-review-st-text">
                  <img src="assets/img/notification/1.jpg" alt="">
                  <div class="review-ctn-hf">
                      <h3>Sarah Graves</h3>
                      <p>Highly recommend</p>
                  </div>
                  <div class="review-item-rating">
                      <a class="preview-btn" href="#">Preview</a>
                  </div>
              </div>
              <div class="single-review-st-text">
                  <img src="assets/img/notification/2.jpg" alt="">
                  <div class="review-ctn-hf">
                      <h3>Garbease sha</h3>
                      <p>Awesome Pro</p>
                  </div>
                  <div class="review-item-rating">
                      <a class="preview-btn" href="#">Preview</a>
                  </div>
              </div>
              <div class="single-review-st-text">
                  <img src="assets/img/notification/3.jpg" alt="">
                  <div class="review-ctn-hf">
                      <h3>Gobetro pro</h3>
                      <p>Great Website</p>
                  </div>
                  <div class="review-item-rating">
                      <a class="preview-btn" href="#">Preview</a>
                  </div>
              </div>
              <div class="single-review-st-text">
                  <img src="assets/img/notification/4.jpg" alt="">
                  <div class="review-ctn-hf">
                      <h3>Siam Graves</h3>
                      <p>That's Good</p>
                  </div>
                  <div class="review-item-rating">
                      <a class="preview-btn" href="#">Preview</a>
                  </div>
              </div>
              <div class="single-review-st-text">
                  <img src="assets/img/notification/5.jpg" alt="">
                  <div class="review-ctn-hf">
                      <h3>Sarah Graves</h3>
                      <p>Highly recommend</p>
                  </div>
                  <div class="review-item-rating">
                      <a class="preview-btn" href="#">Preview</a>
                  </div>
              </div>
              <div class="single-review-st-text">
                  <img src="assets/img/notification/6.jpg" alt="">
                  <div class="review-ctn-hf">
                      <h3>Julsha Grav</h3>
                      <p>Sei Hoise bro</p>
                  </div>
                  <div class="review-item-rating">
                      <a class="preview-btn" href="#">Preview</a>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 col-xs-12 col-md-6">
            <div class="single-review-st-hd">
                <h2>Favourites Clients</h2>
            </div>
            <div class="fav-warpper">
              <div class="single-review-st-text">
                  <img src="assets/img/notification/1.jpg" alt="">
                  <div class="review-ctn-hf">
                      <h3>Sarah Graves</h3>
                      <p>Highly recommend</p>
                  </div>
                  <div class="review-item-rating">
                      <a class="preview-btn" href="#">Preview</a>
                  </div>
              </div>
              <div class="single-review-st-text">
                  <img src="assets/img/notification/2.jpg" alt="">
                  <div class="review-ctn-hf">
                      <h3>Garbease sha</h3>
                      <p>Awesome Pro</p>
                  </div>
                  <div class="review-item-rating">
                      <a class="preview-btn" href="#">Preview</a>
                  </div>
              </div>
              <div class="single-review-st-text">
                  <img src="assets/img/notification/3.jpg" alt="">
                  <div class="review-ctn-hf">
                      <h3>Gobetro pro</h3>
                      <p>Great Website</p>
                  </div>
                  <div class="review-item-rating">
                      <a class="preview-btn" href="#">Preview</a>
                  </div>
              </div>
              <div class="single-review-st-text">
                  <img src="assets/img/notification/4.jpg" alt="">
                  <div class="review-ctn-hf">
                      <h3>Siam Graves</h3>
                      <p>That's Good</p>
                  </div>
                  <div class="review-item-rating">
                      <a class="preview-btn" href="#">Preview</a>
                  </div>
              </div>
              <div class="single-review-st-text">
                  <img src="assets/img/notification/5.jpg" alt="">
                  <div class="review-ctn-hf">
                      <h3>Sarah Graves</h3>
                      <p>Highly recommend</p>
                  </div>
                  <div class="review-item-rating">
                      <a class="preview-btn" href="#">Preview</a>
                  </div>
              </div>
              <div class="single-review-st-text">
                  <img src="assets/img/notification/6.jpg" alt="">
                  <div class="review-ctn-hf">
                      <h3>Julsha Grav</h3>
                      <p>Sei Hoise bro</p>
                  </div>
                  <div class="review-item-rating">
                      <a class="preview-btn" href="#">Preview</a>
                  </div>
              </div>
              <div class="single-review-st-text">
                <img src="assets/img/notification/3.jpg" alt="">
                <div class="review-ctn-hf">
                    <h3>Julsha Grav</h3>
                    <p>Sei Hoise bro</p>
                </div>
                <div class="review-item-rating">
                    <a class="preview-btn" href="#">Preview</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Recent addition or changes section -->
      <section id="recent-addition">
        <div class="row mt-20">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="single-review-st-hd">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h2 class="collapse-btn"><i class="fas fa-minus-circle mr-2r"></i> Recently Addition or Changes</h2>
                </a>
            </div>
            <div id="collapseOne" class="recent-addition-wrapper panel-collapse collapse in" role="tabpanel">
                <div class="datatable-dashv1-list custom-datatable-overright">
                    <table id="tableRecentAddition" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                        data-cookie-id-table="saveId" data-show-export="false" data-click-to-select="true" data-toolbar="#toolbar">
                        <thead>
                            <tr>
                                <th data-field="state" data-checkbox="true"></th>
                                <!-- <th data-field="action">Action</th> -->
                                <th data-field="email" data-editable="true">Changed By</th>
                                <th data-field="date" data-editable="true">Create Date</th>
                                <th data-field="changesDate" data-editable="true">Changes Date</th>
                                <th data-field="changesTime" data-editable="true">Changes Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a></td> -->
                                <td>Morish</td>
                                <td>Jul 14, 2017</td>
                                <td>Nov 14, 2018</td>
                                <td>10:00:00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <!-- <td class="datatable-ct"><a class="preview-btn" href="#">Preview</a>
                                </td> -->
                                <td>Morish</td>
                                <td>Jul 14, 2017</td>
                                <td>Nov 14, 2018</td>
                                <td>10:00:00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <!-- <td class="datatable-ct"><a class="preview-btn" href="#">Preview</a>
                                </td> -->
                                <td>Morish</td>
                                <td>Jul 14, 2017</td>
                                <td>Nov 14, 2018</td>
                                <td>10:00:00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <!-- <td class="datatable-ct"><a class="preview-btn" href="#">Preview</a>
                                </td> -->
                                <td>Morish</td>
                                <td>Jul 14, 2017</td>
                                <td>Nov 14, 2018</td>
                                <td>10:00:00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <!-- <td class="datatable-ct"><a class="preview-btn" href="#">Preview</a>
                                </td> -->
                                <td>Morish</td>
                                <td>Jul 14, 2017</td>
                                <td>Nov 14, 2018</td>
                                <td>10:00:00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <!-- <td class="datatable-ct"><a class="preview-btn" href="#">Preview</a>
                                </td> -->
                                <td>Morish</td>
                                <td>Jul 14, 2017</td>
                                <td>Nov 14, 2018</td>
                                <td>10:00:00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <!-- <td class="datatable-ct"><a class="preview-btn" href="#">Preview</a>
                                </td> -->
                                <td>Morish</td>
                                <td>Jul 14, 2017</td>
                                <td>Nov 14, 2018</td>
                                <td>10:00:00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <!-- <td class="datatable-ct"><a class="preview-btn" href="#">Preview</a>
                                </td> -->
                                <td>Morish</td>
                                <td>Jul 14, 2017</td>
                                <td>Nov 14, 2018</td>
                                <td>10:00:00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <!-- <td class="datatable-ct"><a class="preview-btn" href="#">Preview</a>
                                </td> -->
                                <td>Morish</td>
                                <td>Jul 14, 2017</td>
                                <td>Nov 14, 2018</td>
                                <td>10:00:00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <!-- <td class="datatable-ct"><a class="preview-btn" href="#">Preview</a>
                                </td> -->
                                <td>Morish</td>
                                <td>Jul 14, 2017</td>
                                <td>Nov 14, 2018</td>
                                <td>10:00:00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <!-- <td class="datatable-ct"><a class="preview-btn" href="#">Preview</a>
                                </td> -->
                                <td>Morish</td>
                                <td>Jul 14, 2017</td>
                                <td>Nov 14, 2018</td>
                                <td>10:00:00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <!-- <td class="datatable-ct"><a class="preview-btn" href="#">Preview</a>
                                </td> -->
                                <td>Morish</td>
                                <td>Jul 14, 2017</td>
                                <td>Nov 14, 2018</td>
                                <td>10:00:00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <!-- <td class="datatable-ct"><a class="preview-btn" href="#">Preview</a>
                                </td> -->
                                <td>Morish</td>
                                <td>Jul 14, 2017</td>
                                <td>Nov 14, 2018</td>
                                <td>10:00:00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <!-- <td class="datatable-ct"><a class="preview-btn" href="#">Preview</a>
                                </td> -->
                                <td>Morish</td>
                                <td>Jul 14, 2017</td>
                                <td>Nov 14, 2018</td>
                                <td>10:00:00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <!-- <td class="datatable-ct"><a class="preview-btn" href="#">Preview</a>
                                </td> -->
                                <td>Morish</td>
                                <td>Jul 14, 2017</td>
                                <td>Nov 14, 2018</td>
                                <td>10:00:00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <!-- <td class="datatable-ct"><a class="preview-btn" href="#">Preview</a>
                                </td> -->
                                <td>Morish</td>
                                <td>Jul 14, 2017</td>
                                <td>Nov 14, 2018</td>
                                <td>10:00:00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <!-- <td class="datatable-ct"><a class="preview-btn" href="#">Preview</a>
                                </td> -->
                                <td>Morish</td>
                                <td>Jul 14, 2017</td>
                                <td>Nov 14, 2018</td>
                                <td>10:00:00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <!-- <td class="datatable-ct"><a class="preview-btn" href="#">Preview</a>
                                </td> -->
                                <td>Morish</td>
                                <td>Jul 14, 2017</td>
                                <td>Nov 14, 2018</td>
                                <td>10:00:00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <!-- <td class="datatable-ct"><a class="preview-btn" href="#">Preview</a>
                                </td> -->
                                <td>Morish</td>
                                <td>Jul 14, 2017</td>
                                <td>Nov 14, 2018</td>
                                <td>10:00:00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <!-- <td class="datatable-ct"><a class="preview-btn" href="#">Preview</a>
                                </td> -->
                                <td>Morish</td>
                                <td>Jul 14, 2017</td>
                                <td>Nov 14, 2018</td>
                                <td>10:00:00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <!-- <td class="datatable-ct"><a class="preview-btn" href="#">Preview</a>
                                </td> -->
                                <td>Morish</td>
                                <td>Jul 14, 2017</td>
                                <td>Nov 14, 2018</td>
                                <td>10:00:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Recent Calls -->
      <section id="recentCalls">
        <div class="row mt-20">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="single-review-st-hd">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <h2 class="collapse-btn"><i class="fas fa-minus-circle mr-2r"></i> Recently Added Calls</h2>
                </a>
            </div>
            <div id="collapseTwo" class="recent-calls-wrapper panel-collapse collapse in" role="tabpanel">
                <div class="datatable-dashv1-list custom-datatable-overright">
                    <table id="tableRecentCalls" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                        data-cookie-id-table="saveId" data-show-export="false" data-click-to-select="true" data-toolbar="#toolbar">
                        <thead>
                            <tr>
                                <th data-field="state" data-checkbox="true"></th>
                                <th data-field="action">Call Type</th>
                                <th data-field="email" data-editable="true">Duration</th>
                                <th data-field="date" data-editable="true">Call Outcome</th>
                                <th data-field="changesDate" data-editable="true">Notes</th>
                                <th data-field="callback" data-editable="true">Call Back?</th>
                                <th data-field="reminderset" data-editable="true">Reminder Set?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>Audio</td>
                                <td>10min</td>
                                <td>Neutral</td>
                                <td>Notes Text</td>
                                <td>Yes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Audio</td>
                                <td>10min</td>
                                <td>Neutral</td>
                                <td>Notes Text</td>
                                <td>Yes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Audio</td>
                                <td>10min</td>
                                <td>Neutral</td>
                                <td>Notes Text</td>
                                <td>Yes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Audio</td>
                                <td>10min</td>
                                <td>Neutral</td>
                                <td>Notes Text</td>
                                <td>Yes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Audio</td>
                                <td>10min</td>
                                <td>Neutral</td>
                                <td>Notes Text</td>
                                <td>Yes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Audio</td>
                                <td>10min</td>
                                <td>Neutral</td>
                                <td>Notes Text</td>
                                <td>Yes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Audio</td>
                                <td>10min</td>
                                <td>Neutral</td>
                                <td>Notes Text</td>
                                <td>Yes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Audio</td>
                                <td>10min</td>
                                <td>Neutral</td>
                                <td>Notes Text</td>
                                <td>Yes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Audio</td>
                                <td>10min</td>
                                <td>Neutral</td>
                                <td>Notes Text</td>
                                <td>Yes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Audio</td>
                                <td>10min</td>
                                <td>Neutral</td>
                                <td>Notes Text</td>
                                <td>Yes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Audio</td>
                                <td>10min</td>
                                <td>Neutral</td>
                                <td>Notes Text</td>
                                <td>Yes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Audio</td>
                                <td>10min</td>
                                <td>Neutral</td>
                                <td>Notes Text</td>
                                <td>Yes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Audio</td>
                                <td>10min</td>
                                <td>Neutral</td>
                                <td>Notes Text</td>
                                <td>Yes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Audio</td>
                                <td>10min</td>
                                <td>Neutral</td>
                                <td>Notes Text</td>
                                <td>Yes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Audio</td>
                                <td>10min</td>
                                <td>Neutral</td>
                                <td>Notes Text</td>
                                <td>Yes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Audio</td>
                                <td>10min</td>
                                <td>Neutral</td>
                                <td>Notes Text</td>
                                <td>Yes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Audio</td>
                                <td>10min</td>
                                <td>Neutral</td>
                                <td>Notes Text</td>
                                <td>Yes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Audio</td>
                                <td>10min</td>
                                <td>Neutral</td>
                                <td>Notes Text</td>
                                <td>Yes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Audio</td>
                                <td>10min</td>
                                <td>Neutral</td>
                                <td>Notes Text</td>
                                <td>Yes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Audio</td>
                                <td>10min</td>
                                <td>Neutral</td>
                                <td>Notes Text</td>
                                <td>Yes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Audio</td>
                                <td>10min</td>
                                <td>Neutral</td>
                                <td>Notes Text</td>
                                <td>Yes</td>
                                <td>Yes</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Active Shared links -->
      <section id="activeSharedLinks">
        <div class="row mt-20">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="single-review-st-hd">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    <h2 class="collapse-btn"><i class="fas fa-minus-circle mr-2r"></i> Active Shared Links</h2>
                </a>
            </div>
            <div id="collapseThree" class="active-sharedLinks-wrapper panel-collapse collapse in" role="tabpanel">
                <div class="datatable-dashv1-list custom-datatable-overright">
                    <table id="tableActiveShared" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                        data-cookie-id-table="saveId" data-show-export="false" data-click-to-select="true" data-toolbar="#toolbar">
                        <thead>
                            <tr>
                                <th data-field="check" data-checkbox="true"></th>
                                <th data-field="cname">Company Name</th>
                                <th data-field="email" data-editable="true">Contact Name</th>
                                <th data-field="link">Link URL</th>
                                <th data-field="">Active?</th>
                                <th data-field="status" data-editable="true">Status?</th>
                                <th data-field="action">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <td></td>
                              <td>ABC Company</td>
                              <td>Morish</td>
                              <td><a href="#">abcSeleniumcrm.com</a></td>
                              <td><input type="checkbox"></td>
                              <td>Picked Up</td>
                              <td class="datatable-ct"><a href="#" class="preview-btn">Remove</a></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>ABC Company</td>
                              <td>Morish</td>
                              <td><a href="#">abcSeleniumcrm.com</a></td>
                              <td><input type="checkbox"></td>
                              <td>Waiting</td>
                              <td class="datatable-ct"><a href="#" class="preview-btn">Remove</a></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>ABC Company</td>
                              <td>Morish</td>
                              <td><a href="#">abcSeleniumcrm.com</a></td>
                              <td><input type="checkbox"></td>
                              <td>Picked Up</td>
                              <td class="datatable-ct"><a href="#" class="preview-btn">Remove</a></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>ABC Company</td>
                              <td>Morish</td>
                              <td><a href="#">abcSeleniumcrm.com</a></td>
                              <td><input type="checkbox"></td>
                              <td>Picked Up</td>
                              <td class="datatable-ct"><a href="#" class="preview-btn">Remove</a></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>ABC Company</td>
                              <td>Morish</td>
                              <td><a href="#">abcSeleniumcrm.com</a></td>
                              <td><input type="checkbox"></td>
                              <td>Waiting</td>
                              <td class="datatable-ct"><a href="#" class="preview-btn">Remove</a></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>ABC Company</td>
                              <td>Morish</td>
                              <td><a href="#">abcSeleniumcrm.com</a></td>
                              <td><input type="checkbox"></td>
                              <td>Picked Up</td>
                              <td class="datatable-ct"><a href="#" class="preview-btn">Remove</a></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>ABC Company</td>
                              <td>Morish</td>
                              <td><a href="#">abcSeleniumcrm.com</a></td>
                              <td><input type="checkbox"></td>
                              <td>Waiting</td>
                              <td class="datatable-ct"><a href="#" class="preview-btn">Remove</a></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>ABC Company</td>
                              <td>Morish</td>
                              <td><a href="#">abcSeleniumcrm.com</a></td>
                              <td><input type="checkbox"></td>
                              <td>Picked Up</td>
                              <td class="datatable-ct"><a href="#" class="preview-btn">Remove</a></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>ABC Company</td>
                              <td>Morish</td>
                              <td><a href="#">abcSeleniumcrm.com</a></td>
                              <td><input type="checkbox"></td>
                              <td>Waiting</td>
                              <td class="datatable-ct"><a href="#" class="preview-btn">Remove</a></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>ABC Company</td>
                              <td>Morish</td>
                              <td><a href="#">abcSeleniumcrm.com</a></td>
                              <td><input type="checkbox"></td>
                              <td>Waiting</td>
                              <td class="datatable-ct"><a href="#" class="preview-btn">Remove</a></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>ABC Company</td>
                              <td>Morish</td>
                              <td><a href="#">abcSeleniumcrm.com</a></td>
                              <td><input type="checkbox"></td>
                              <td>Picked Up</td>
                              <td class="datatable-ct"><a href="#" class="preview-btn">Remove</a></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>ABC Company</td>
                              <td>Morish</td>
                              <td><a href="#">abcSeleniumcrm.com</a></td>
                              <td><input type="checkbox"></td>
                              <td>Picked Up</td>
                              <td class="datatable-ct"><a href="#" class="preview-btn">Remove</a></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>ABC Company</td>
                              <td>Morish</td>
                              <td><a href="#">abcSeleniumcrm.com</a></td>
                              <td><input type="checkbox"></td>
                              <td>Picked Up</td>
                              <td class="datatable-ct"><a href="#" class="preview-btn">Remove</a></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>ABC Company</td>
                              <td>Morish</td>
                              <td><a href="#">abcSeleniumcrm.com</a></td>
                              <td><input type="checkbox"></td>
                              <td>Picked Up</td>
                              <td class="datatable-ct"><a href="#" class="preview-btn">Remove</a></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>ABC Company</td>
                              <td>Morish</td>
                              <td><a href="#">abcSeleniumcrm.com</a></td>
                              <td><input type="checkbox"></td>
                              <td>Picked Up</td>
                              <td class="datatable-ct"><a href="#" class="preview-btn">Remove</a></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>ABC Company</td>
                              <td>Morish</td>
                              <td><a href="#">abcSeleniumcrm.com</a></td>
                              <td><input type="checkbox"></td>
                              <td>Picked Up</td>
                              <td class="datatable-ct"><a href="#" class="preview-btn">Remove</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>