<div id="main">
    <!-- Add all your websites page content here  -->
    <div class="container-fluid">

    <!-- Favourites Contacts -->
    <section id="recent-addition">
        <div class="row mt-40">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="single-review-st-hd">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h2 class="collapse-btn"><i class="fas fa-minus-circle mr-2r"></i> Favourites Contacts</h2>
                </a>
            </div>
            <div id="collapseOne" class="recent-addition-wrapper panel-collapse collapse in" role="tabpanel">
                <div class="datatable-dashv1-list custom-datatable-overright">
                    <table id="tableContact" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                        data-cookie-id-table="saveId" data-show-export="false" data-click-to-select="true" data-toolbar="#toolbar">
                        <thead>
                          <tr>
                              <th data-field="state" data-checkbox="true"></th>
                              <th data-field="name" data-editable="true">Name</th>
                              <th data-field="email" data-editable="true">Contact Owner</th>
                              <th data-field="phone" data-editable="true">Email</th>
                              <th data-field="complete">Phone</th>
                              <th data-field="city" data-editable="true">City</th>
                              <th data-field="dob" data-editable="true">DOB</th>
                              <th data-field="gender" data-editable="true">Gender</th>
                              <th data-field="date" data-editable="true">Last Activity Date</th>
                              <th data-field="" data-editable="true">Last Contacted</th>
                              <th data-field="date" data-editable="true">Create Date</th>
                              <th data-field="price" data-editable="true">Lead Status</th>
                              <th data-field="action">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                            <td></td>
                            <td>Morish</td>
                            <td>Bravo</td>
                            <td>admin@uttara.com</td>
                            <td>+8801962067309</td>
                            <td>London</td>
                            <td>12-10-1992</td>
                            <td>Male</td>
                            <td class="datatable-ct"><span class="pie">1/6</span>
                            </td>
                            <td>-</td>
                            <td>Jul 14, 2017</td>
                            <td>New</td>
                            <td class="datatable-ct action-btn">
                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Jhone</td>
                            <td>Dummy</td>
                            <td>fox@itpark.com</td>
                            <td>+8801762067304</td>
                            <td>London</td>
                            <td>12-10-1992</td>
                            <td>Male</td>
                            <td class="datatable-ct"><span class="pie">230/360</span>
                            </td>
                            <td>-</td>
                            <td>fab 2, 2017</td>
                            <td>Open</td>
                            <td class="datatable-ct action-btn">
                            <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                            <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Eve</td>
                            <td>Lorem</td>
                            <td>gumre@hash.com</td>
                            <td>+8801862067308</td>
                            <td>London</td>
                            <td>12-10-1992</td>
                            <td>Male</td>
                            <td class="datatable-ct"><span class="pie">0.42/1.461</span>
                            </td>
                            <td>-</td>
                            <td>Seb 5, 2017</td>
                            <td>In Progress</td>
                            <td class="datatable-ct action-btn">
                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Adam</td>
                            <td>Smith</td>
                            <td>kyum@frok.com</td>
                            <td>+8801962066547</td>
                            <td>London</td>
                            <td>12-10-1992</td>
                            <td>Male</td>
                            <td class="datatable-ct"><span class="pie">2,7</span>
                            </td>
                            <td>-</td>
                            <td>Oct 10, 2017</td>
                            <td>Unqualified</td>
                            <td class="datatable-ct action-btn">
                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Bo</td>
                            <td>Clark</td>
                            <td>jams@game.com</td>
                            <td>+8801962098745</td>
                            <td>London</td>
                            <td>12-10-1992</td>
                            <td>Connected</td>
                            <td class="datatable-ct"><span class="pie">200,133</span>
                            </td>
                            <td>-</td>
                            <td>Nov 20, 2017</td>
                            <td>Open</td>
                            <td class="datatable-ct action-btn">
                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Mike</td>
                            <td>Mikey</td>
                            <td>flat@yem.com</td>
                            <td>+8801962254781</td>
                            <td>London</td>
                            <td>12-10-1992</td>
                            <td>Male</td>
                            <td class="datatable-ct"><span class="pie">0.42,1.051</span>
                            </td>
                            <td>-</td>
                            <td>Aug 25, 2017</td>
                            <td>New</td>
                            <td class="datatable-ct action-btn">
                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Ross</td>
                            <td>Robin</td>
                            <td>hasan@wpm.com</td>
                            <td>+8801962254863</td>
                            <td>London</td>
                            <td>12-10-1992</td>
                            <td>Male</td>
                            <td class="datatable-ct"><span class="pie">2,7</span>
                            </td>
                            <td>-</td>
                            <td>July 17, 2017</td>
                            <td>Connected</td>
                            <td class="datatable-ct action-btn">
                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Ralph</td>
                            <td>Alph</td>
                            <td>ATM@devep.com</td>
                            <td>+8801962875469</td>
                            <td>London</td>
                            <td>12-10-1992</td>
                            <td>Male</td>
                            <td class="datatable-ct"><span class="pie">2,7</span>
                            </td>
                            <td>-</td>
                            <td>June 11, 2017</td>
                            <td>Unqualified</td>
                            <td class="datatable-ct action-btn">
                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Boat</td>
                            <td>Prestine</td>
                            <td>presta@Prest.com</td>
                            <td>+8801962067524</td>
                            <td>London</td>
                            <td>12-10-1992</td>
                            <td>Male</td>
                            <td class="datatable-ct"><span class="pie">2,7</span>
                            </td>
                            <td>-</td>
                            <td>May 9, 2017</td>
                            <td>New</td>
                            <td class="datatable-ct action-btn">
                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Selenium</td>
                            <td>Chrestine</td>
                            <td>Dev@game.com</td>
                            <td>+8801962067457</td>
                            <td>London</td>
                            <td>12-10-1992</td>
                            <td>Male</td>
                            <td class="datatable-ct"><span class="pie">2,7</span>
                            </td>
                            <td>-</td>
                            <td>April 5, 2017</td>
                            <td>Open</td>
                            <td class="datatable-ct action-btn">
                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>HP</td>
                            <td>Jhone</td>
                            <td>gular@angular.com</td>
                            <td>+8801962067124</td>
                            <td>London</td>
                            <td>12-10-1992</td>
                            <td>Male</td>
                            <td class="datatable-ct"><span class="pie">2,7</span>
                            </td>
                            <td>-</td>
                            <td>Dec 1, 2017</td>
                            <td>Attempted to contact</td>
                            <td class="datatable-ct action-btn">
                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Jone</td>
                            <td>Eve</td>
                            <td>open@cart.com</td>
                            <td>+8801962067587</td>
                            <td>London</td>
                            <td>12-10-1992</td>
                            <td>Male</td>
                            <td class="datatable-ct"><span class="pie">2,7</span>
                            </td>
                            <td>-</td>
                            <td>Jan 6, 2017</td>
                            <td>New</td>
                            <td class="datatable-ct action-btn">
                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Jone</td>
                            <td>Adam</td>
                            <td>john@example.com</td>
                            <td>+8801962067471</td>
                            <td>London</td>
                            <td>12-10-1992</td>
                            <td>Male</td>
                            <td class="datatable-ct"><span class="pie">2,7</span>
                            </td>
                            <td>-</td>
                            <td>Feb 6, 2016</td>
                            <td>Open</td>
                            <td class="datatable-ct action-btn">
                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Jone</td>
                            <td>Morish</td>
                            <td>mary@example.com</td>
                            <td>+8801962012457</td>
                            <td>London</td>
                            <td>12-10-1992</td>
                            <td>Male</td>
                            <td class="datatable-ct"><span class="pie">2,7</span>
                            </td>
                            <td>-</td>
                            <td>Jan 6, 2016</td>
                            <td>Connected</td>
                            <td class="datatable-ct action-btn">
                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Jone</td>
                            <td>Rock</td>
                            <td>july@example.com</td>
                            <td>+8801962067309</td>
                            <td>London</td>
                            <td>12-10-1992</td>
                            <td>Male</td>
                            <td class="datatable-ct"><span class="pie">2,7</span>
                            </td>
                            <td>-</td>
                            <td>Dec 1, 2016</td>
                            <td>Unqualified</td>
                            <td class="datatable-ct action-btn">
                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Jone</td>
                            <td>Jhonsam</td>
                            <td>john@example.com</td>
                            <td>+8801962067306</td>
                            <td>London</td>
                            <td>12-10-1992</td>
                            <td>Male</td>
                            <td class="datatable-ct"><span class="pie">2,7</span>
                            </td>
                            <td>-</td>
                            <td>May 9, 2016</td>
                            <td>Open</td>
                            <td class="datatable-ct action-btn">
                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Jone</td>
                            <td>Sam</td>
                            <td>mary@example.com</td>
                            <td>+8801962067305</td>
                            <td>London</td>
                            <td>12-10-1992</td>
                            <td>Male</td>
                            <td class="datatable-ct"><span class="pie">2,7</span>
                            </td>
                            <td>-</td>
                            <td>June 11, 2016</td>
                            <td>Connected</td>
                            <td class="datatable-ct action-btn">
                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Jone</td>
                            <td>Martine</td>
                            <td>july@example.com</td>
                            <td>+8801962067304</td>
                            <td>London</td>
                            <td>12-10-1992</td>
                            <td>Male</td>
                            <td class="datatable-ct"><span class="pie">2,7</span>
                            </td>
                            <td>-</td>
                            <td>May 9, 2015</td>
                            <td>Attempted to contact</td>
                            <td class="datatable-ct action-btn">
                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Jone</td>
                            <td>Lovely</td>
                            <td>john@range.com</td>
                            <td>+8801962067303</td>
                            <td>London</td>
                            <td>12-10-1992</td>
                            <td>Male</td>
                            <td class="datatable-ct"><span class="pie">2,7</span>
                            </td>
                            <td>-</td>
                            <td>Feb 9, 2014</td>
                            <td>Connected</td>
                            <td class="datatable-ct action-btn">
                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Jone</td>
                            <td>Jone</td>
                            <td>lamon@ghs.com</td>
                            <td>+8801962067302</td>
                            <td>London</td>
                            <td>12-10-1992</td>
                            <td>Male</td>
                            <td class="datatable-ct"><span class="pie">2,7</span>
                            </td>
                            <td>-</td>
                            <td>July 6, 2014</td>
                            <td>New</td>
                            <td class="datatable-ct action-btn">
                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Jone</td>
                            <td>Jonny</td>
                            <td>hasad@uth.com</td>
                            <td>+8801962067301</td>
                            <td>London</td>
                            <td>12-10-1992</td>
                            <td>Male</td>
                            <td class="datatable-ct"><span class="pie">2,7</span>
                            </td>
                            <td>-</td>
                            <td>Jun 6, 2013</td>
                            <td>Open</td>
                            <td class="datatable-ct action-btn">
                                <a href="#" class="preview-btn" data-toggle="modal" data-target="#contactviewModal"><i class="fas fa-eye"></i></a>
                                <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                          </tr>
                      </tbody>
                    </table>
                </div>
            </div>
          </div>
        </div>
    </section>

    <!-- Favourites Clients -->
    <section id="recentCalls">
        <div class="row mt-20">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="single-review-st-hd">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <h2 class="collapse-btn"><i class="fas fa-minus-circle mr-2r"></i> Favourites Clients</h2>
                </a>
            </div>
            <div id="collapseTwo" class="recent-calls-wrapper panel-collapse collapse in" role="tabpanel">
                <div class="datatable-dashv1-list custom-datatable-overright">
                    <table id="tableClients" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                        data-cookie-id-table="saveId" data-show-export="false" data-click-to-select="true" data-toolbar="#toolbar">
                        <thead>
                            <tr>
                                <th data-field="state" data-checkbox="true"></th>
                                <th data-field="cLogo" data-editable="true">Company Logo</th>
                                <th data-field="cName" data-editable="true">Company Name</th>
                                <th data-field="phone">Company Phone</th>
                                <th data-field="pContact" data-editable="true">Primary Contact</th>
                                <th data-field="mail" data-editable="true">Email</th>
                                <th data-field="country" data-editable="true">Country</th>
                                <th data-field="city" data-editable="true">City</th>
                                <th data-field="CDName" data-editable="true">Company Domain Name</th>
                                <th data-field="ranking">Ranking</th>
                                <th data-field="action">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>Logo</td>
                                <td>CRM Company</td>
                                <td>+88-01762067304</td>
                                <td>demoweb.com</td>
                                <td>crm@mail.com</td>
                                <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal">Preview</a>
                                </td> -->
                                <td>UK</td>
                                <td>London</td>
                                <td>XYZ</td>
                                <td>4</td>
                                <td class="datatable-ct action-btn">
                                    <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Logo</td>
                                <td>ABC Company</td>
                                <td>+88-01762067304</td>
                                <td>demoweb.com</td>
                                <td>crm@mail.com</td>
                                <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                </td> -->
                                <td>UK</td>
                                <td>London</td>
                                <td>XYZ</td>
                                <td>2</td>
                                <td class="datatable-ct action-btn">
                                    <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Logo</td>
                                <td>XYZ Company</td>
                                <td>+88-01762067304</td>
                                <td>demoweb.com</td>
                                <td>crm@mail.com</td>
                                <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                </td> -->
                                <td>UK</td>
                                <td>London</td>
                                <td>XYZ</td>
                                <td>1</td>
                                <td class="datatable-ct action-btn">
                                    <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Logo</td>
                                <td>ABCD Company</td>
                                <td>+88-01762067304</td>
                                <td>demoweb.com</td>
                                <td>crm@mail.com</td>
                                <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                </td> -->
                                <td>UK</td>
                                <td>London</td>
                                <td>XYZ</td>
                                <td>4</td>
                                <td class="datatable-ct action-btn">
                                    <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Logo</td>
                                <td>WXYZ Company</td>
                                <td>+88-01762067304</td>
                                <td>demoweb.com</td>
                                <td>crm@mail.com</td>
                                <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                </td> -->
                                <td>UK</td>
                                <td>London</td>
                                <td>XYZ</td>
                                <td>2</td>
                                <td class="datatable-ct action-btn">
                                    <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Logo</td>
                                <td>PQR Company</td>
                                <td>+88-01762067304</td>
                                <td>demoweb.com</td>
                                <td>crm@mail.com</td>
                                <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                </td> -->
                                <td>UK</td>
                                <td>London</td>
                                <td>XYZ</td>
                                <td>1</td>
                                <td class="datatable-ct action-btn">
                                    <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Logo</td>
                                <td>SEL Company</td>
                                <td>+88-01762067304</td>
                                <td>demoweb.com</td>
                                <td>crm@mail.com</td>
                                <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                </td> -->
                                <td>UK</td>
                                <td>London</td>
                                <td>XYZ</td>
                                <td>4</td>
                                <td class="datatable-ct action-btn">
                                    <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Logo</td>
                                <td>SA Company</td>
                                <td>+88-01762067304</td>
                                <td>demoweb.com</td>
                                <td>crm@mail.com</td>
                                <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                </td> -->
                                <td>UK</td>
                                <td>London</td>
                                <td>XYZ</td>
                                <td>5</td>
                                <td class="datatable-ct action-btn">
                                    <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Logo</td>
                                <td>PQ Company</td>
                                <td>+88-01762067304</td>
                                <td>demoweb.com</td>
                                <td>crm@mail.com</td>
                                <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                </td> -->
                                <td>UK</td>
                                <td>London</td>
                                <td>XYZ</td>
                                <td>2</td>
                                <td class="datatable-ct action-btn">
                                    <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Logo</td>
                                <td>WS Company</td>
                                <td>+88-01762067304</td>
                                <td>demoweb.com</td>
                                <td>crm@mail.com</td>
                                <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                </td> -->
                                <td>UK</td>
                                <td>London</td>
                                <td>XYZ</td>
                                <td>1</td>
                                <td class="datatable-ct action-btn">
                                    <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Logo</td>
                                <td>AD Company</td>
                                <td>+88-01762067304</td>
                                <td>demoweb.com</td>
                                <td>crm@mail.com</td>
                                <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                </td> -->
                                <td>UK</td>
                                <td>London</td>
                                <td>XYZ</td>
                                <td>3</td>
                                <td class="datatable-ct action-btn">
                                    <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Logo</td>
                                <td>DDC Company</td>
                                <td>+88-01762067304</td>
                                <td>demoweb.com</td>
                                <td>crm@mail.com</td>
                                <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                </td> -->
                                <td>UK</td>
                                <td>London</td>
                                <td>XYZ</td>
                                <td>4</td>
                                <td class="datatable-ct action-btn">
                                    <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Logo</td>
                                <td>VCS Company</td>
                                <td>+88-01762067304</td>
                                <td>demoweb.com</td>
                                <td>crm@mail.com</td>
                                <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                </td> -->
                                <td>UK</td>
                                <td>London</td>
                                <td>XYZ</td>
                                <td>1</td>
                                <td class="datatable-ct action-btn">
                                    <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Logo</td>
                                <td>HGS Company</td>
                                <td>+88-01762067304</td>
                                <td>demoweb.com</td>
                                <td>crm@mail.com</td>
                                <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                </td> -->
                                <td>UK</td>
                                <td>London</td>
                                <td>XYZ</td>
                                <td>2</td>
                                <td class="datatable-ct action-btn">
                                    <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Logo</td>
                                <td>CRM Company</td>
                                <td>+88-01762067304</td>
                                <td>demoweb.com</td>
                                <td>crm@mail.com</td>
                                <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                </td> -->
                                <td>UK</td>
                                <td>London</td>
                                <td>XYZ</td>
                                <td>2</td>
                                <td class="datatable-ct action-btn">
                                    <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Logo</td>
                                <td>CRM Company</td>
                                <td>+88-01762067304</td>
                                <td>demoweb.com</td>
                                <td>crm@mail.com</td>
                                <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                </td> -->
                                <td>UK</td>
                                <td>London</td>
                                <td>XYZ</td>
                                <td>2</td>
                                <td class="datatable-ct action-btn">
                                    <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Logo</td>
                                <td>CRM Company</td>
                                <td>+88-01762067304</td>
                                <td>demoweb.com</td>
                                <td>crm@mail.com</td>
                                <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                </td> -->
                                <td>UK</td>
                                <td>London</td>
                                <td>XYZ</td>
                                <td>2</td>
                                <td class="datatable-ct action-btn">
                                    <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Logo</td>
                                <td>CRM Company</td>
                                <td>+88-01762067304</td>
                                <td>demoweb.com</td>
                                <td>crm@mail.com</td>
                                <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                </td> -->
                                <td>UK</td>
                                <td>London</td>
                                <td>XYZ</td>
                                <td>2</td>
                                <td class="datatable-ct action-btn">
                                    <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Logo</td>
                                <td>CRM Company</td>
                                <td>+88-01762067304</td>
                                <td>demoweb.com</td>
                                <td>crm@mail.com</td>
                                <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                </td> -->
                                <td>UK</td>
                                <td>London</td>
                                <td>XYZ</td>
                                <td>2</td>
                                <td class="datatable-ct action-btn">
                                    <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Logo</td>
                                <td>CRM Company</td>
                                <td>+88-01762067304</td>
                                <td>demoweb.com</td>
                                <td>crm@mail.com</td>
                                <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                </td> -->
                                <td>UK</td>
                                <td>London</td>
                                <td>XYZ</td>
                                <td>2</td>
                                <td class="datatable-ct action-btn">
                                    <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Logo</td>
                                <td>CRM Company</td>
                                <td>+88-01762067304</td>
                                <td>demoweb.com</td>
                                <td>crm@mail.com</td>
                                <!-- <td class="datatable-ct"><a href="#" class="preview-btn" data-toggle="modal" data-target="#contactmodal">Preview</a>
                                </td> -->
                                <td>UK</td>
                                <td>London</td>
                                <td>XYZ</td>
                                <td>2</td>
                                <td class="datatable-ct action-btn">
                                    <a href="#" class="preview-btn" data-toggle="modal" data-target="#clientModal"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="preview-btn"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </section>

    </div>
  </div>

  <!-- contact Modal -->
<div class="modal fade" id="contactviewModal" tabindex="-1" role="dialog" aria-labelledby="clientmodalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="clientmodalTitle">Jhone Doe</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="contact-sparkle-line reso-mg-b-30">
                            <div class="contact-content">
                                <h4>About This Contact</h4>
                                <form>
                                <div class="form-group">
                                    <label for="fname">First Name</label>
                                    <input type="text" class="form-control" id="fname" aria-describedby="fname" placeholder="First Name">
                                </div>
                                <div class="form-group">
                                    <label for="lname">Last Name</label>
                                    <input type="text" class="form-control" id="lname" aria-describedby="lname" placeholder="Last Name">
                                </div>
                                <div class="form-group">
                                    <label for="eaddress">Email Address</label>
                                    <input type="text" class="form-control" id="eaddress" placeholder="Email Address">
                                </div>
                                <div class="form-group">
                                    <label for="pno">Phone Number</label>
                                    <input type="text" class="form-control" id="pno" placeholder="Phone Number">
                                </div>
                                <div class="form-group">
                                    <label for="cowner">Contact Owner</label>
                                    <input type="text" class="form-control" id="cowner" placeholder="Contact Owner">
                                </div>
                                <div class="form-group">
                                    <label for="lstage">Lifecycle Stage</label>
                                    <input type="text" class="form-control" id="lstage" placeholder="Lifecycle Stage">
                                </div>
                                <div class="form-group">
                                    <label for="lstatus">Lead Status</label>
                                    <input type="text" class="form-control" id="lstatus" placeholder="Lead Status">
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="record.html" type="button" class="btn btn-primary">View Record</a>
        </div>
        </div>
    </div>
</div>

<!-- client Modal -->
<div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="clientmodalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="clientmodalTitle">Jhone Doe</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="contact-sparkle-line reso-mg-b-30">
                            <div class="contact-content">
                                <h4>About this company</h4>
                                <form>
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <label for="cdname">Company Domain Name</label>
                                    <input type="text" class="form-control" id="cdname" placeholder="Company Domain Name">
                                </div>
                                <div class="form-group">
                                    <label for="industry">Industry</label>
                                    <input type="text" class="form-control" id="industry" placeholder="Industry">
                                </div>
                                <div class="form-group">
                                    <label for="pno">Phone Number</label>
                                    <input type="text" class="form-control" id="pno" placeholder="Phone Number">
                                </div>
                                <div class="form-group">
                                    <label for="cowner">Company Owner</label>
                                    <input type="text" class="form-control" id="cowner" placeholder="Company Owner">
                                </div>
                                <div class="form-group">
                                    <label for="webaddress">Website Address</label>
                                    <input type="text" class="form-control" id="webaddress" placeholder="Website Address">
                                </div>
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <input type="text" class="form-control" id="country" placeholder="Country">
                                </div>
                                <div class="form-group">
                                    <label for="noemployee">Number Of Employees</label>
                                    <input type="text" class="form-control" id="noemployee" placeholder="Number Of Employees">
                                </div>
                                <div class="form-group">
                                    <label for="arevenue">Annual Revenue</label>
                                    <input type="text" class="form-control" id="arevenue" placeholder="Annual Revenue">
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="record.html" type="button" class="btn btn-primary">View Record</a>
        </div>
        </div>
    </div>
</div>